$colorBorder: rgb(64, 85, 220)
$colorText: rgb(51, 51, 51)
$colorWhite: rgb(255, 255, 255)
$colorLine: rgb(210, 210, 213)

.button
  border-radius: 25px
  border: 2px solid $colorBorder
  color:  $colorWhite
  display: block
  font-size: 18px
  font-weight: 300
  height: 50px
  line-height: 46px
  text-align: left
  text-decoration: none
  width: 170px
  background: $colorBorder
  transition: all .35s
  padding-left: 30px
  &::before
    content: ""  
    position: absolute  
    border-top: 3px solid transparent  
    border-left: 6px solid #fff
    border-bottom: 3px solid transparent  
    top: 7px  
    right: 0
    transition: all 0.35s ease-in-out  
    opacity: 0  
  &::after
    content: ""
    position: absolute
    width: 40px
    height: 2px
    background: #fff
    top: 0
    bottom: 0
    margin: auto
    right: 0
    transform: translate(0px)
    transition: all 0.35s ease-in-out
    opacity: 0
  &:hover
    //transform: translateY(-8px)
    background-color: $colorBorder
    //box-shadow: 0 25px 30px rgba(255, 0, 0, .2)
    color: #ffffff
    //transition: all .5s ease-out, box-shadow .2s ease-out

.wrapperButton
  position: relative
  margin: auto
  border: solid 1px $colorBorder
  border-radius: 25px
  &:hover
    background: transparent
  a.link
    position: absolute
    width: 100%
    height: 100%
    line-height: 280%
    text-align: center
    z-index: 1
    color: $colorText
    &:hover
      color: $colorWhite
    &:focus
      outline: none
  .button
    width: 100%
    height: 100%
    background: $colorBorder
    transform-origin: 50% 100%
    transform: rotateX(-90deg)
    z-index: 0
    color: $colorText
// animation: up 1s linear 0s forwards
@keyframes down
  to
    transform: rotateX(0deg)
    transform-origin: 50% 100%
  from
    transform: rotateX(-90deg)
    transform-origin: 50% 100%

@keyframes up
  to
    transform: rotateX(90deg)
    transform-origin: 50% 0
  from
    transform: rotateX(0deg)
    transform-origin: 50% 0
