.button {
  border-radius: 25px;
  border: 2px solid #4055dc;
  color: white;
  display: block;
  font-size: 18px;
  font-weight: 300;
  height: 50px;
  line-height: 46px;
  text-align: left;
  text-decoration: none;
  width: 170px;
  background: #4055dc;
  transition: all 0.35s;
  padding-left: 30px; }
  .button::before {
    content: "";
    position: absolute;
    border-top: 3px solid transparent;
    border-left: 6px solid #fff;
    border-bottom: 3px solid transparent;
    top: 7px;
    right: 0;
    transition: all 0.35s ease-in-out;
    opacity: 0; }
  .button::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background: #fff;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    transform: translate(0px);
    transition: all 0.35s ease-in-out;
    opacity: 0; }
  .button:hover {
    background-color: #4055dc;
    color: #ffffff; }

.wrapperButton {
  position: relative;
  margin: auto;
  border: solid 1px #4055dc;
  border-radius: 25px; }
  .wrapperButton:hover {
    background: transparent; }
  .wrapperButton a.link {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 280%;
    text-align: center;
    z-index: 1;
    color: #333333; }
    .wrapperButton a.link:hover {
      color: white; }
    .wrapperButton a.link:focus {
      outline: none; }
  .wrapperButton .button {
    width: 100%;
    height: 100%;
    background: #4055dc;
    transform-origin: 50% 100%;
    transform: rotateX(-90deg);
    z-index: 0;
    color: #333333; }

@keyframes down {
  to {
    transform: rotateX(0deg);
    transform-origin: 50% 100%; }
  from {
    transform: rotateX(-90deg);
    transform-origin: 50% 100%; } }
@keyframes up {
  to {
    transform: rotateX(90deg);
    transform-origin: 50% 0; }
  from {
    transform: rotateX(0deg);
    transform-origin: 50% 0; } }

/*# sourceMappingURL=button.css.map */
