@font-face
  font-family: "Lato-Bold"
  src: url(../fonts/Lato-Bold.ttf)
@font-face
  font-family: "Lato-Light"
  src: url(../fonts/Lato-Light.ttf)
@font-face
  font-family: "Lato-Regular"
  src: url(../fonts/Lato-Regular.ttf)

.LL48
  font-family: Lato-Light
  font-size: 2.6667rem
.LL40
  font-family: Lato-Light
  font-size: 2.2222rem
.LL30
  font-family: Lato-Light
  font-size: 1.6667rem
.LL24
  font-family: Lato-Light
  font-size: 1.3333rem
.LL18
  font-family: Lato-Light
  font-size: 1rem
.LL16
  font-family: Lato-Light
  font-size: 0.8889rem
.LL14
  font-family: Lato-Light
  font-size: 0.778rem
.LR16
  font-family: Lato-Regular
  font-size: 0.8889rem
.LB30
  font-family: Lato-Bold
  font-size: 1.6667rem
.LB24
  font-family: Lato-Bold
  font-size: 1.3333rem
.LB18
  font-family: Lato-Bold
  font-size: 1rem
.LB16
  font-family: Lato-Bold
  font-size: 0.8889rem
