@font-face {
  font-family: "Lato-Bold";
  src: url(../fonts/Lato-Bold.ttf); }
@font-face {
  font-family: "Lato-Light";
  src: url(../fonts/Lato-Light.ttf); }
@font-face {
  font-family: "Lato-Regular";
  src: url(../fonts/Lato-Regular.ttf); }
.LL {
  font-family: Lato-Light;
  font-size: 0.8889rem; }

.LR {
  font-family: Lato-Regular;
  font-size: 0.8889rem; }

/*# sourceMappingURL=font.css.map */
