@font-face {
  font-family: "Lato-Bold";
  src: url(../fonts/Lato-Bold.ttf); }
@font-face {
  font-family: "Lato-Light";
  src: url(../fonts/Lato-Light.ttf); }
@font-face {
  font-family: "Lato-Regular";
  src: url(../fonts/Lato-Regular.ttf); }
.LL48 {
  font-family: Lato-Light;
  font-size: 2.6667rem; }

.LL40 {
  font-family: Lato-Light;
  font-size: 2.2222rem; }

.LL30 {
  font-family: Lato-Light;
  font-size: 1.6667rem; }

.LL24 {
  font-family: Lato-Light;
  font-size: 1.3333rem; }

.LL18 {
  font-family: Lato-Light;
  font-size: 1rem; }

.LL16 {
  font-family: Lato-Light;
  font-size: 0.8889rem; }

.LL14 {
  font-family: Lato-Light;
  font-size: 0.778rem; }

.LR16 {
  font-family: Lato-Regular;
  font-size: 0.8889rem; }

.LB30 {
  font-family: Lato-Bold;
  font-size: 1.6667rem; }

.LB24 {
  font-family: Lato-Bold;
  font-size: 1.3333rem; }

.LB18 {
  font-family: Lato-Bold;
  font-size: 1rem; }

.LB16 {
  font-family: Lato-Bold;
  font-size: 0.8889rem; }

.languages_list {
  display: block;
  position: relative;
  width: 40px;
  height: auto;
  background: transparent;
  list-style: none;
  padding: 0;
  overflow: hidden;
  margin: 0; }

.blockLang .switch {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: box-shadow 1s linear;
  transition: box-shadow 1s linear;
  background: url("/img/triangle.png") no-repeat right; }
.blockLang li {
  width: 40px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  position: relative; }

.blockLang {
  text-align: center;
  line-height: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 30px;
  width: 100%; }
  .blockLang a {
    color: #fff;
    text-decoration: none;
    color: #333333; }
    .blockLang a:hover {
      text-decoration: none;
      color: #333333;
      font-weight: 700; }
  .blockLang .flag {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    background: url(http://ic.pics.livejournal.com/oleg_aliyev/44160729/106288/106288_original.jpg);
    background-size: contain;
    top: 16px;
    left: 15px; }
  .blockLang .rotate {
    -webkit-transition: rotateX(180deg);
    transition: rotateX(180deg); }

.lang {
  position: relative;
  width: 40px; }

/*# sourceMappingURL=lang.css.map */
