=transition ($value)
  -webkit-transition: $value
  transition: $value
@import "font"
$colorBorder: rgb(64, 85, 220)
$colorText: rgb(51, 51, 51)
$colorWhite: rgb(255, 255, 255)
$colorLine: rgb(210, 210, 213)

.languages_list
  display: block
  position: relative
  width: 40px
  height: auto
  background: transparent
  list-style: none
  padding: 0
  overflow: hidden
  margin: 0
.blockLang
  .switch
    display: block
    content: ""
    position: absolute
    top: 0
    right: 0
    width: 100%
    height: 100%
    background: #fff
    cursor: pointer
    z-index: 1
    //box-shadow: 0 0 15px rgb(85, 76, 255)
    +transition(box-shadow 1s linear)
    background: url("/img/triangle.png") no-repeat right
    //span
    //  text-align: center
    //  display: block
    //  width: 19px
    //  font-weight: 700
    //  color: #000
    //  +transition(transform .2s linear)
    //  perspective: 300px
    //  line-height: 1.5
  li
    width: 40px
    height: 30px
    text-align: center
    line-height: 30px
    position: relative
.blockLang
  text-align: center
  line-height: 20px
  position: absolute
  top: 0
  bottom: 0
  margin: auto
  height: 30px
  width: 100%
  a
    color: #fff
    text-decoration: none
    color: $colorText
    &:hover
      text-decoration: none
      color: $colorText
      font-weight: 700
  .flag
    display: block
    position: absolute
    width: 15px
    height: 15px
    background: url(http://ic.pics.livejournal.com/oleg_aliyev/44160729/106288/106288_original.jpg)
    background-size: contain
    top: 16px
    left: 15px
  .rotate
    +transition(rotateX(180deg))
.lang
  position: relative
  width: 40px