/*$posAbs: */
html {
  font-size: 18px;
  color: #333333; }

a {
  text-decoration: none !important; }

html, body {
  width: 100%;
  height: 100%; }

.wrapper {
  position: relative; 
  min-height: 100%;
  padding: 0;  }

.header {
  padding: 0; }

.content {
  padding: 0 0 340px; }

.content .widthForBlock {
  width: 1170px;
  margin: auto; }

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  padding: 0; }

/*# sourceMappingURL=main.css.map */
