.footer
  height: 340px
  background: $colorText
  color: $colorWhite
  width: 100%
  max-width: 1920px
  left: 0
  right: 0
  margin: auto
  > .widthForBlock
    width: 1170px
    margin: auto
  .blockLeft
    display: flex
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap
    height: 340px
    position: relative
    padding: 0 15px 0 0
    .copyright
      position: absolute
      bottom: 0
      width: 200px
  .blockRight
    .logoFooter
      background: url("/img/content/main/logoWhite.png")no-repeat
      width: 170px
      height: 80px
      margin-top: 70px
      margin-left: 100px
      a
        position: absolute
        display: block
        width: 175px
        height: 45px
    ul
      margin: 0 0 0 100px
      width: 170px
      height: 25px
      li
        height: 81%
        width: 20px
        margin: 0 20px 0 0!important
        padding: 0
        display: inline-block
        float: left
        transition: all .2s linear
      @each $bgSocial, $val in (1: 0 0,2: -40px 0,3: -80px 0,4: -120px 0)
        li
          &:nth-child(#{$bgSocial})
            background: url("/img/footer/social.png")
            background-position:  $val+px
            cursor: pointer
            &:hover
              background: url("/img/footer/social_hover.png")
              background-position: $val+px

  ul
    list-style: none
    padding: 0
    margin: 70px 0 0
    li
      margin-bottom: 20px
      height: 16px
      &:nth-child(1)
        font-weight: 900
        margin-bottom: 30px
a
  color: $colorWhite
  transition: all .25s linear
  cursor: pointer
  &:hover
    color: #3c4aa4


.modal-dialog
  width: 970px
  height: auto
  color: $colorText
  .modal-content
    height: 730px
    .modal-header
      width: 100%
      height: 190px
      padding: 0 100px 0 100px
      border: none
      .modal-title
        height: 70px
        background: url(/img/header/logo.png)no-repeat left bottom
      .close
        width: 20px
        height: 20px
        position: absolute
        right: 40px
        top: 40px
        &:before
          content: ""
          top: 0
          position: absolute
          width: 1px
          height: 20px
          border: 1px solid #000
          transform: rotate(45deg)
        &:after
          content: ""
          top: 0
          position: absolute
          width: 1px
          height: 20px
          border: 1px solid #000
          transform: rotate(-45deg)
      .logo
        width: 100%
        height: 120px
        text-align: center
        line-height: 120px
        background: url(/img/logo_store/logo-lamoda.png)no-repeat center
        background-size: 102px  30px
    .modal-body
      padding: 0 100px 0 100px
      input,select,textarea
        border: none
        border-bottom: 1px solid $colorLine
        &:focus
          outline: none
      form:before
        content: ""
        position: absolute
        width: 30px
        height: 2px
        background: #fff
        bottom: 40px
        margin: auto
        right: 267px
        transform: translate(0px)
        transition: all 0.2s ease-in-out
        opacity: 0
        z-index: 1
      form:after
        content: ""
        position: absolute
        border-top: 3px solid transparent
        border-left: 6px solid #fff
        border-bottom: 3px solid transparent
        bottom: 38px
        right: 261px
        transition: all 0.2s ease-in-out
        opacity: 0
        z-index: 1
      .capcha
        height: 80px
        width: 300px
        background: #ad2
      .blockTop
        position: relative
        .score
          float: left
        .payment
          float: right
          *
            color: $colorBorder
      .blockCenter
        width: 100%
        height: auto
        display: flex
        flex-direction: row
        flex-wrap: wrap
        margin: 70px 0
        $payS: (9:'qiwi', 2:'perfectmoney', 3:'advcash', 4:'bitcoin', 5:'payeer', 6:'yandex', 7:'card', 8:'nixmoney', 1:'okpay')
        @each $io, $payItem in $payS
          div.#{$payItem}
            width: 168px
            height: 70px
            background: url(/img/ps/#{$payItem}.png)no-repeat center
            margin: 0 15px
            -webkit-filter: grayscale(100%)
            filter: grayscale(100%)
            -webkit-background-size: contain
            transition: all .35s linear
            background-size: 135px auto
            &:hover
              -webkit-filter: none
              filter: none
            input[type='radio']
              visibility: hidden
        div.okpay
          margin-left: 0
        div.bitcoin
          margin-right: 0
        div.payeer
          margin-left: 0
        div.nixmoney
          margin-right: 0
        div.qiwi
          margin-left: 0
          margin-right: 0
          width: 170px
          background-position: left center
          position: relative
          overflow: hidden
          transition: all .35s linear
          input
            width: 200px
            height: 30px
            border: none
            border-bottom: 1px solid $colorLine
            position: absolute
            right: 0
            top: 0
            bottom: 0
            margin: auto
            display: none
            &:focus
              outline: none
      .blockBottom
        position: relative
        height: 85px
        *
          margin: 0
        .capcha
          position: absolute
          left: 115px
          top: 0
          bottom: 0
          margin: auto
        input
          position: absolute
          left: 450px
          top: 0
          bottom: 0
          margin: auto
.activePay
  transform: scale(1.01) translateY(-15px)
  box-shadow: 0 10px 15px rgba(0,0,0,.25)
  -webkit-filter: none!important
  filter: none!important
.foqusQiwi
  width: 370px!important
  overflow: auto

