$colorBorder: rgb(64, 85, 220)
$colorText: rgb(51, 51, 51)
$colorWhite: rgb(255, 255, 255)
$colorLine: rgb(210, 210, 213)

@mixin flex()
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

@mixin fRow()
  -webkit-box-orient: horizontal
  -webkit-box-direction: normal
  -ms-flex-direction: row
  flex-direction: row

@mixin fC-B()
  -webkit-box-pack: justify
  -ms-flex-pack: justify
  justify-content: space-between

@mixin faic()
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  
@mixin fais()
  -webkit-box-align: stretch
  -ms-flex-align: stretch
  align-items: stretch

@mixin jcf-e()
  -webkit-box-pack: end
  -ms-flex-pack: end
  justify-content: flex-end
  
.help100
  width: 100%
  border-bottom: 1px solid $colorLine
  .nav
    @include flex
    @include fRow
    height: 80px
    @include fC-B
    @include fais
    width: 1170px
    margin: auto
    .logo
      @include flex
      width: 200px
      background: url("/img/header/logo.png") no-repeat left
      a
        display: block
        height: 100%
        width: 100%
    .navbar
      @include flex
      @include faic
      @include fC-B
      margin: auto
      padding: 0
      width: 630px
      overflow: hidden
      height: 80px
      li
        @include flex
        margin: auto
        width: calc(700px / 4)
        &:hover
          &:nth-child(1) ~ .lavalamp
            left: 10%
          &:nth-child(2) ~ .lavalamp
            left: 34%
          &:nth-child(3) ~ .lavalamp
            left: 59.5%
          &:nth-child(4) ~ .lavalamp
            left: 84.5%
        a
          @include flex
          margin: auto
          color: $colorText
          cursor: pointer
          height: 30px
          line-height: 28px
          -moz-user-select: none
          -webkit-user-select: none
          user-select: none
          &:hover
            color: $colorText
            font-weight: 700
      .lavalamp
        height: 4px
        width: 40px
        background: $colorBorder
        position: absolute
        bottom: 0
        left: -57px
        transition: .4s ease-in-out
    .buttonLang
      @include flex
      width: 200px
      .button
        width: 100px
        height: 40px
        border: 1px solid
    .getawayTop
      @include flex
      width: 250px
      @include fRow
      @include jcf-e
      @include faic
      .nameUser
      .exit
        width: 20px
        height: 30px
        background: url("/img/header/exit.png")no-repeat center
        transition: background .25s linear
        margin-left: 20px
        cursor: pointer
        &:hover
          background: url("/img/header/exit-hover.png")no-repeat center
/*navActive. for active page
.navActive
  color: $colorText
  font-weight: 700