$colorBorder: rgb(64, 85, 220)
$colorText: rgb(51, 51, 51)
$colorWhite: rgb(255, 255, 255)
$colorLine: rgb(210, 210, 213)

.header
  justify-content: flex-start
  height: 400px
  .blockService
    width: 1170px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    height: 100%
    margin: auto
    background: url("/img/header/logo background.png")no-repeat
    background-position: 80% 50%
    padding: 150px 0
    *
      margin: 0
    h1
      margin-bottom: 40px
.content
  .aboutPK
    height: 285px
    width: 1170px
    margin: auto
    padding: 0
    float: none
    margin-bottom: 150px
    margin-top: 30px
    .blockLeft
      &::before
        content: ''
        position: absolute
        background: $colorBorder
        width: 425px
        height: 260px
        top: 0
        left: 0
      &::after
        content: ""
        position: absolute
        background: url("/img/content/pic_about.png")
        width: 425px
        height: 260px
        top: -30px               
        left: 30px
        box-shadow: 0 10px 10px rgba(0,0,0,.25)
    .blockRight
      display: flex
      flex-direction: row
      justify-content: center
      align-items: center
      p
        width: 500px
        margin: 40px auto auto
  .servicefForYour *:nth-child(2) img
    width: 75px
    height: 75px
    border: none
    background: none
    background-size: 70px
  .servicefForYour *:nth-child(3) img
    width: 75px
    height: 75px
    border: none
    background: none
    background-size: 70px
  .servicefForYour
    padding: 0
    div
      display: flex
  .statistics
    display: flex
    height: 215px
    flex-direction: row
    justify-content: space-around
    align-items: center
    padding: 0 550px
    flex-wrap: wrap
    margin: 150px auto
    h2
      width: 100%
      margin: 0
      text-align: center
    .country
      display: flex
      flex-direction: column
      color: #4055dc
      justify-content: center
      align-items: center
      span
        &:last-child
          color: $colorText
    .bank
      @extend .country
    .site
      @extend .country