.header {
  justify-content: flex-start;
  height: 400px; }
  .header .blockService {
    width: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    margin: auto;
    background: url("/img/header/logo background.png") no-repeat;
    background-position: 80% 50%;
    padding: 150px 0; }
    .header .blockService * {
      margin: 0; }
    .header .blockService h1 {
      margin-bottom: 40px; }

.content .aboutPK {
  height: 285px;
  width: 1170px;
  margin: auto;
  padding: 0;
  float: none;
  margin-bottom: 150px;
  margin-top: 30px; }
  .content .aboutPK .blockLeft::before {
    content: "";
    position: absolute;
    background: #4055dc;
    width: 425px;
    height: 260px;
    top: 0;
    left: 0; }
  .content .aboutPK .blockLeft::after {
    content: "";
    position: absolute;
    background: url("/img/content/pic_about.png");
    width: 425px;
    height: 260px;
    top: -30px;
    left: 30px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25); }
  .content .aboutPK .blockRight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .content .aboutPK .blockRight p {
      width: 500px;
      margin: 40px auto auto; }
.content .servicefForYour *:nth-child(2) img {
  width: 75px;
  height: 75px;
  border: none;
  background: none;
  background-size: 70px; }
.content .servicefForYour *:nth-child(3) img {
  width: 75px;
  height: 75px;
  border: none;
  background: none;
  background-size: 70px; }
.content .servicefForYour {
  padding: 0; }
  .content .servicefForYour div {
    display: flex; }
.content .statistics {
  display: flex;
  height: 215px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 550px;
  flex-wrap: wrap;
  margin: 150px auto; }
  .content .statistics h2 {
    width: 100%;
    margin: 0;
    text-align: center; }
  .content .statistics .country, .content .statistics .bank, .content .statistics .site {
    display: flex;
    flex-direction: column;
    color: #4055dc;
    justify-content: center;
    align-items: center; }
    .content .statistics .country span:last-child, .content .statistics .bank span:last-child, .content .statistics .site span:last-child {
      color: #333333; }

/*# sourceMappingURL=about.css.map */
