$colorBorder: rgb(64, 85, 220)
$colorText: rgb(51, 51, 51)
$colorWhite: rgb(255, 255, 255)
$colorLine: rgb(210, 210, 213)

.header
  height: auto
  padding: 0
.tab
  height: auto
  width: 100%
  padding: 70px auto 0
  position: relative
  .color
    background: #fafafc
    position: absolute
    width: 100%
    height: 260px
    z-index: -1
  .ad
    overflow: hidden
    height: 115px
    width: 340px
    margin: auto
  h2
    text-align: center
    margin: 0
    height: 114px
    padding: 70px 0 0
  .tab__tab-batton
    display: flex
    flex-direction: row
    align-items: baseline
    justify-content: space-between
    padding: 70px 0
    height: 190px
    position: relative
    width: 570px
    margin: auto
    .activeTab
      display: none
    .tab__leftTabButton
      width: auto
      margin: auto
      cursor: pointer
      color: $colorBorder
      font-weight: 700
    .tab__tabContForCenter
      @extend .tab__leftTabButton
      margin: auto
    .tab__centerButton
      @extend .tab__leftTabButton
      color: $colorText
      font-weight: 300
    .tab__rightTabButton
      @extend .tab__leftTabButton
      color: $colorText
      font-weight: 300
  .tab__tabContForCenter
    display: flex
    align-items: center
    justify-content: flex-start
    flex-wrap: wrap
    width: 46%
    float: none
    margin: auto
    h2
      text-align: center
      width: 100%
      margin-bottom: 40px
      padding-top: 0
      height: 45px
    p
      display: flex
      justify-content: center
      margin: 0
      width: 100%
      padding: 0 0 70px
    div
      $ps: (3: 'qiwi', 4: 'perfectmoney', 5: 'advcash', 6: 'bitcoin', 7: 'payeer', 8: 'yandex', 9: 'card', 10: 'nixmoney', 11: 'okpay')
      @each $i, $f in $ps
        &:nth-child(#{$i})
          background: $colorWhite url("/img/ps/#{$f}.png")no-repeat center
    @each $border in (3, 4, 5)
      div
        &:nth-child(#{$border})
          border-top: none
    @each $border in (9, 10, 11)
      div
        &:nth-child(#{$border})
          border-bottom: none
    @each $border in (3, 6, 9)
      div
        &:nth-child(#{$border})
          border-left: none
    @each $border in (5, 8, 11)
      div
        &:nth-child(#{$border})
          border-right: none
    div
      width: 290px
      height: 120px
      border: 1px solid $colorLine
      transition: all .25s linear
      &:hover
        transform: scale(1.01) translateY(-15px)
        z-index: 1
        box-shadow: 0 10px 15px rgba(0,0,0,.25)
  .tab__tabContForRight
    margin: auto
    float: none
    h3
      text-align: center
      margin: 0
    p
      width: 570px
      text-align: center
      margin: 40px auto 70px
    table
      width: 100%
      color: $colorBorder
      text-align: center
      tr
        height: 70px
        th
          text-align: center
          color: $colorText
        td
          width: 33%
          &:nth-child(n+2)
            padding-left: 105px
            text-align: left
      $ps: (2: 'qiwi', 3: 'perfectmoney', 4: 'advcash', 5: 'bitcoin', 6: 'payeer', 7: 'yandex', 8: 'card', 9: 'nixmoney', 10: 'okpay')
      @each $val, $item in $ps
        tr:nth-child(#{$val})
          td:first-child
            background: url("/img/ps/#{$item}.png")no-repeat center
            background-size: 125px
  .tab__tabContForLeft
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    *
      margin: 0
      padding: 0
      &:nth-child(1)
        width: 100%
        text-align: center
        margin-bottom: 40px
      &:nth-child(0)
      &:nth-child(3)
        width: 830px
        padding-left: 15px
        text-align: left
        margin: 0 auto 40px
      &:nth-child(4)
        width: 830px
        padding-left: 15px
        text-align: left
      &:nth-child(5)
        width: 830px
        padding-left: 15px
        text-align: left
        margin: 0 auto 40px
      &:nth-child(6)
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start
        width: 770px
        list-style-type: square
        li
          text-align: left
          margin: 0 0 40px
          padding: 0
          span
            font-family: inherit
            font-style: inherit
            color: $colorText
      &:nth-child(7)
        width: 830px
        text-align: left
        padding-left: 15px
        margin-bottom: 40px
      &:nth-child(8)
        width: 830px
        list-style: none
        height: 145px
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        //$imgth8: ()
        li
          position: relative
          padding: 0
          margin: 0
          width: 200px
          height: 100%
          $imgBg: (1,2,3,4)
          @each $item in $imgBg
            &:nth-child(#{$item})
              background: url("/img/content/acceptOfPay/#{$item}.png")no-repeat center top
          span.spanElem
            display: block
            width: 100%
            height: 50px
            position: absolute
            bottom: 0
            margin: 0
.active
  display: flex
.dizactive
  display: none
.registration
  margin-top: 70px