.header {
  height: auto;
  padding: 0; }

.tab {
  height: auto;
  width: 100%;
  padding: 70px auto 0;
  position: relative; }
  .tab .color {
    background: #fafafc;
    position: absolute;
    width: 100%;
    height: 260px;
    z-index: -1; }
  .tab .ad {
    overflow: hidden;
    height: 115px;
    width: 340px;
    margin: auto; }
  .tab h2 {
    text-align: center;
    margin: 0;
    height: 114px;
    padding: 70px 0 0; }
  .tab .tab__tab-batton {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 70px 0;
    height: 190px;
    position: relative;
    width: 570px;
    margin: auto; }
    .tab .tab__tab-batton .activeTab {
      display: none; }
    .tab .tab__tab-batton .tab__leftTabButton, .tab .tab__tab-batton .tab__tabContForCenter, .tab .tab__tab-batton .tab__centerButton, .tab .tab__tab-batton .tab__rightTabButton {
      width: auto;
      margin: auto;
      cursor: pointer;
      color: #4055dc;
      font-weight: 700; }
    .tab .tab__tab-batton .tab__tabContForCenter {
      margin: auto; }
    .tab .tab__tab-batton .tab__centerButton {
      color: #333333;
      font-weight: 300; }
    .tab .tab__tab-batton .tab__rightTabButton {
      color: #333333;
      font-weight: 300; }
  .tab .tab__tabContForCenter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 46%;
    float: none;
    margin: auto; }
    .tab .tab__tabContForCenter h2 {
      text-align: center;
      width: 100%;
      margin-bottom: 40px;
      padding-top: 0;
      height: 45px; }
    .tab .tab__tabContForCenter p {
      display: flex;
      justify-content: center;
      margin: 0;
      width: 100%;
      padding: 0 0 70px; }
    .tab .tab__tabContForCenter div:nth-child(3) {
      background: white url("/img/ps/qiwi.png") no-repeat center; }
    .tab .tab__tabContForCenter div:nth-child(4) {
      background: white url("/img/ps/perfectmoney.png") no-repeat center; }
    .tab .tab__tabContForCenter div:nth-child(5) {
      background: white url("/img/ps/advcash.png") no-repeat center; }
    .tab .tab__tabContForCenter div:nth-child(6) {
      background: white url("/img/ps/bitcoin.png") no-repeat center; }
    .tab .tab__tabContForCenter div:nth-child(7) {
      background: white url("/img/ps/payeer.png") no-repeat center; }
    .tab .tab__tabContForCenter div:nth-child(8) {
      background: white url("/img/ps/yandex.png") no-repeat center; }
    .tab .tab__tabContForCenter div:nth-child(9) {
      background: white url("/img/ps/card.png") no-repeat center; }
    .tab .tab__tabContForCenter div:nth-child(10) {
      background: white url("/img/ps/nixmoney.png") no-repeat center; }
    .tab .tab__tabContForCenter div:nth-child(11) {
      background: white url("/img/ps/okpay.png") no-repeat center; }
    .tab .tab__tabContForCenter div:nth-child(3) {
      border-top: none; }
    .tab .tab__tabContForCenter div:nth-child(4) {
      border-top: none; }
    .tab .tab__tabContForCenter div:nth-child(5) {
      border-top: none; }
    .tab .tab__tabContForCenter div:nth-child(9) {
      border-bottom: none; }
    .tab .tab__tabContForCenter div:nth-child(10) {
      border-bottom: none; }
    .tab .tab__tabContForCenter div:nth-child(11) {
      border-bottom: none; }
    .tab .tab__tabContForCenter div:nth-child(3) {
      border-left: none; }
    .tab .tab__tabContForCenter div:nth-child(6) {
      border-left: none; }
    .tab .tab__tabContForCenter div:nth-child(9) {
      border-left: none; }
    .tab .tab__tabContForCenter div:nth-child(5) {
      border-right: none; }
    .tab .tab__tabContForCenter div:nth-child(8) {
      border-right: none; }
    .tab .tab__tabContForCenter div:nth-child(11) {
      border-right: none; }
    .tab .tab__tabContForCenter div {
      width: 290px;
      height: 120px;
      border: 1px solid #d2d2d5;
      transition: all 0.25s linear; }
      .tab .tab__tabContForCenter div:hover {
        transform: scale(1.01) translateY(-15px);
        z-index: 1;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25); }
  .tab .tab__tabContForRight {
    margin: auto;
    float: none; }
    .tab .tab__tabContForRight h3 {
      text-align: center;
      margin: 0; }
    .tab .tab__tabContForRight p {
      width: 570px;
      text-align: center;
      margin: 40px auto 70px; }
    .tab .tab__tabContForRight table {
      width: 100%;
      color: #4055dc;
      text-align: center; }
      .tab .tab__tabContForRight table tr {
        height: 70px; }
        .tab .tab__tabContForRight table tr th {
          text-align: center;
          color: #333333; }
        .tab .tab__tabContForRight table tr td {
          width: 33%; }
          .tab .tab__tabContForRight table tr td:nth-child(n+2) {
            padding-left: 105px;
            text-align: left; }
      .tab .tab__tabContForRight table tr:nth-child(2) td:first-child {
        background: url("/img/ps/qiwi.png") no-repeat center;
        background-size: 125px; }
      .tab .tab__tabContForRight table tr:nth-child(3) td:first-child {
        background: url("/img/ps/perfectmoney.png") no-repeat center;
        background-size: 125px; }
      .tab .tab__tabContForRight table tr:nth-child(4) td:first-child {
        background: url("/img/ps/advcash.png") no-repeat center;
        background-size: 125px; }
      .tab .tab__tabContForRight table tr:nth-child(5) td:first-child {
        background: url("/img/ps/bitcoin.png") no-repeat center;
        background-size: 125px; }
      .tab .tab__tabContForRight table tr:nth-child(6) td:first-child {
        background: url("/img/ps/payeer.png") no-repeat center;
        background-size: 125px; }
      .tab .tab__tabContForRight table tr:nth-child(7) td:first-child {
        background: url("/img/ps/yandex.png") no-repeat center;
        background-size: 125px; }
      .tab .tab__tabContForRight table tr:nth-child(8) td:first-child {
        background: url("/img/ps/card.png") no-repeat center;
        background-size: 125px; }
      .tab .tab__tabContForRight table tr:nth-child(9) td:first-child {
        background: url("/img/ps/nixmoney.png") no-repeat center;
        background-size: 125px; }
      .tab .tab__tabContForRight table tr:nth-child(10) td:first-child {
        background: url("/img/ps/okpay.png") no-repeat center;
        background-size: 125px; }
  .tab .tab__tabContForLeft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    .tab .tab__tabContForLeft * {
      margin: 0;
      padding: 0; }
      .tab .tab__tabContForLeft *:nth-child(1) {
        width: 100%;
        text-align: center;
        margin-bottom: 40px; }
      .tab .tab__tabContForLeft *:nth-child(3) {
        width: 830px;
        padding-left: 15px;
        text-align: left;
        margin: 0 auto 40px; }
      .tab .tab__tabContForLeft *:nth-child(4) {
        width: 830px;
        padding-left: 15px;
        text-align: left; }
      .tab .tab__tabContForLeft *:nth-child(5) {
        width: 830px;
        padding-left: 15px;
        text-align: left;
        margin: 0 auto 40px; }
      .tab .tab__tabContForLeft *:nth-child(6) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 770px;
        list-style-type: square; }
        .tab .tab__tabContForLeft *:nth-child(6) li {
          text-align: left;
          margin: 0 0 40px;
          padding: 0; }
          .tab .tab__tabContForLeft *:nth-child(6) li span {
            font-family: inherit;
            font-style: inherit;
            color: #333333; }
      .tab .tab__tabContForLeft *:nth-child(7) {
        width: 830px;
        text-align: left;
        padding-left: 15px;
        margin-bottom: 40px; }
      .tab .tab__tabContForLeft *:nth-child(8) {
        width: 830px;
        list-style: none;
        height: 145px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
        .tab .tab__tabContForLeft *:nth-child(8) li {
          position: relative;
          padding: 0;
          margin: 0;
          width: 200px;
          height: 100%; }
          .tab .tab__tabContForLeft *:nth-child(8) li:nth-child(1) {
            background: url("/img/content/acceptOfPay/1.png") no-repeat center top; }
          .tab .tab__tabContForLeft *:nth-child(8) li:nth-child(2) {
            background: url("/img/content/acceptOfPay/2.png") no-repeat center top; }
          .tab .tab__tabContForLeft *:nth-child(8) li:nth-child(3) {
            background: url("/img/content/acceptOfPay/3.png") no-repeat center top; }
          .tab .tab__tabContForLeft *:nth-child(8) li:nth-child(4) {
            background: url("/img/content/acceptOfPay/4.png") no-repeat center top; }
          .tab .tab__tabContForLeft *:nth-child(8) li span.spanElem {
            display: block;
            width: 100%;
            height: 50px;
            position: absolute;
            bottom: 0;
            margin: 0; }

.active {
  display: flex; }

.dizactive {
  display: none; }

.registration {
  margin-top: 70px; }

/*# sourceMappingURL=acceptanceOfPayments.css.map */
