.header {
  height: 260px; }
  .header .logo {
    background: url("/img/header/logo.png");
    height: 40px;
    width: 170px;
    margin: auto auto 70px; }
    .header .logo a {
      display: block;
      width: 100%;
      height: 100%; }

.content .centrBlock {
  width: 570px;
  margin: auto;
  position: relative;
  background: #fafafc;
  padding-bottom: 1px; }
  .content .centrBlock h1 {
    height: 130px;
    text-align: center;
    padding: 40px 0 70px;
    margin: 0;
    line-height: 23px; }
  .content .centrBlock form:before {
    content: ""; }
  .content .centrBlock form:after {
    content: ""; }
  .content .centrBlock form input {
    display: block; }
  .content .centrBlock form .mail {
    width: 370px;
    height: 50px;
    border: none;
    border-bottom: 1px solid #d2d2d5;
    padding: 20px;
    margin: auto;
    background: transparent; }
    .content .centrBlock form .mail:focus {
      outline: none; }
  .content .centrBlock form .button {
    margin: 40px auto 40px 100px;
    height: 50px; }
  .content .centrBlock .link {
    width: 150px;
    height: 50px;
    position: absolute;
    right: 100px;
    bottom: 37px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; }
    .content .centrBlock .link a {
      text-align: right;
      display: block;
      color: #d2d2d5; }

.footer {
  background: #ffffff; }

/*# sourceMappingURL=authentication.css.map */
