$colorBorder: rgb(64, 85, 220)
$colorText: rgb(51, 51, 51)
$colorWhite: rgb(255, 255, 255)
$colorLine: rgb(210, 210, 213)

.header
  height: 260px
  .logo
    background: url("/img/header/logo.png")
    height: 40px
    width: 170px
    margin: auto auto 70px
    a
      display: block
      width: 100%
      height: 100%
.content
  .centrBlock
    width: 570px
    //height: 300px
    margin: auto
    position: relative
    background: #fafafc
    padding-bottom: 1px
    h1
      height: 130px
      text-align: center
      padding: 40px 0 70px
      margin: 0
      line-height: 23px
    form
      &:before
        content: ''
      &:after
        content: ''
      input
        display: block
      .mail
        width: 370px
        height: 50px
        border: none
        border-bottom: 1px solid $colorLine
        padding: 20px
        margin: auto
        background: transparent
        &:focus
          outline: none
      .button
        margin: 40px auto 40px 100px
        height: 50px
    .link
      width: 150px
      height: 50px
      position: absolute
      right: 100px
      bottom: 37px
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: flex-end
      a
        text-align: right
        display: block
        color: $colorLine
.footer
  background: #ffffff

