$colorBorder: rgb(64, 85, 220)
$colorText: rgb(51, 51, 51)
$colorWhite: rgb(255, 255, 255)
$colorLine: rgb(210, 210, 213)

.header
  justify-content: flex-start
  height: 400px
  .blockSupport
    width: 1170px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    height: 100%
    margin: auto
    background: url("/img/header/logo background.png")no-repeat
    background-position: 80% 50%
    *
      margin: 0
    h1
      margin-bottom: 40px
    p
      width: 470px
.content
  .bigTab
    width: 1170px
    margin: auto
    padding: 0
    float: none
    *
      padding: 0
      margin: 0
    .bigTab__menuButton
      height: 48px
      width: 100%
      padding: 0
      [class*="menuButton__button"]
        width: 170px
        height: 45px
        display: inline-block
        float: left
    .bigTab__content
      padding: 70px 0
      .content__slideOne
        padding: 0
.bigTab
  .blockRight
    width: 770px
    float: right
    h2
      margin-bottom: 70px
    .blockOne
      position: relative
      .getHeight
        position: relative
        &:nth-child(2)
          h4
            margin: 40px 0 40px 40px
            &::before
              content: '1'
              font-family: inherit
              font-weight: 700
              left: 10px
              position: absolute
            &::after
              content: ''
              position: absolute
              width: 30px
              height: 30px
              border-radius: 15px
              border: 1px solid $colorBorder
              left: 0
              top: -7px
        &:nth-child(3)
          h4
            margin: 40px 0 40px 40px
            &::before
              content: '2'
              font-family: inherit
              font-weight: 700
              left: 10px
              position: absolute
            &::after
              content: ''
              position: absolute
              width: 30px
              height: 30px
              border-radius: 15px
              border: 1px solid $colorBorder
              left: 0
              top: -7px
      p
        margin-bottom: 20px
      .code
        width: 770px
        height: auto
        overflow: auto
        padding: 20px
        background: #fafafc
  .blockTwo
    margin-top: 70px
    p
      &:nth-child(2)
        margin: 40px 0
      &:nth-child(4)
        margin: 40px 0
    table
      width: 500px
      height: 140px
      tr
        border-bottom: 1px solid $colorLine
        &:first-child
          color: #808080
        &:nth-child(1)
          height: 30px
        &:nth-child(2)
          height: 50px
        &:nth-child(3)
          height: 50px
  .blockButton
    width: 100%
    height: 110px
    position: relative
    .wrapperButton
      width: 150px
      height: 40px
      position: absolute
      bottom: 0
      left: 0
      right: 0
      margin: auto
    a
      //padding-left: 30px
      //background: #ffffff
      color: $colorText
      cursor: pointer
      line-height: 38px!important
.blockContent
  .blockLeft
    float: left
    position: relative
    ul
      list-style: none
      width: 300px
      li
        padding-left: 20px
        font-weight: 300
        @each $i in 3, 4, 5
          &:nth-child(#{$i})
            padding-left: 40px
.active
  font-weight: 700!important