.header {
  justify-content: flex-start;
  height: 400px; }
  .header .blockSupport {
    width: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    margin: auto;
    background: url("/img/header/logo background.png") no-repeat;
    background-position: 80% 50%; }
    .header .blockSupport * {
      margin: 0; }
    .header .blockSupport h1 {
      margin-bottom: 40px; }
    .header .blockSupport p {
      width: 470px; }

.content .bigTab {
  width: 1170px;
  margin: auto;
  padding: 0;
  float: none; }
  .content .bigTab * {
    padding: 0;
    margin: 0; }
  .content .bigTab .bigTab__menuButton {
    height: 48px;
    width: 100%;
    padding: 0; }
    .content .bigTab .bigTab__menuButton [class*="menuButton__button"] {
      width: 170px;
      height: 45px;
      display: inline-block;
      float: left; }
  .content .bigTab .bigTab__content {
    padding: 70px 0; }
    .content .bigTab .bigTab__content .content__slideOne {
      padding: 0; }

.bigTab .blockRight {
  width: 770px;
  float: right; }
  .bigTab .blockRight h2 {
    margin-bottom: 70px; }
  .bigTab .blockRight .blockOne {
    position: relative; }
    .bigTab .blockRight .blockOne .getHeight {
      position: relative; }
      .bigTab .blockRight .blockOne .getHeight:nth-child(2) h4 {
        margin: 40px 0 40px 40px; }
        .bigTab .blockRight .blockOne .getHeight:nth-child(2) h4::before {
          content: "1";
          font-family: inherit;
          font-weight: 700;
          left: 10px;
          position: absolute; }
        .bigTab .blockRight .blockOne .getHeight:nth-child(2) h4::after {
          content: "";
          position: absolute;
          width: 30px;
          height: 30px;
          border-radius: 15px;
          border: 1px solid #4055dc;
          left: 0;
          top: -7px; }
      .bigTab .blockRight .blockOne .getHeight:nth-child(3) h4 {
        margin: 40px 0 40px 40px; }
        .bigTab .blockRight .blockOne .getHeight:nth-child(3) h4::before {
          content: "2";
          font-family: inherit;
          font-weight: 700;
          left: 10px;
          position: absolute; }
        .bigTab .blockRight .blockOne .getHeight:nth-child(3) h4::after {
          content: "";
          position: absolute;
          width: 30px;
          height: 30px;
          border-radius: 15px;
          border: 1px solid #4055dc;
          left: 0;
          top: -7px; }
    .bigTab .blockRight .blockOne p {
      margin-bottom: 20px; }
    .bigTab .blockRight .blockOne .code {
      width: 770px;
      height: auto;
      overflow: auto;
      padding: 20px;
      background: #fafafc; }
.bigTab .blockTwo {
  margin-top: 70px; }
  .bigTab .blockTwo p:nth-child(2) {
    margin: 40px 0; }
  .bigTab .blockTwo p:nth-child(4) {
    margin: 40px 0; }
  .bigTab .blockTwo table {
    width: 500px;
    height: 140px; }
    .bigTab .blockTwo table tr {
      border-bottom: 1px solid #d2d2d5; }
      .bigTab .blockTwo table tr:first-child {
        color: #808080; }
      .bigTab .blockTwo table tr:nth-child(1) {
        height: 30px; }
      .bigTab .blockTwo table tr:nth-child(2) {
        height: 50px; }
      .bigTab .blockTwo table tr:nth-child(3) {
        height: 50px; }
.bigTab .blockButton {
  width: 100%;
  height: 110px;
  position: relative; }
  .bigTab .blockButton .wrapperButton {
    width: 150px;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  .bigTab .blockButton a {
    color: #333333;
    cursor: pointer;
    line-height: 38px !important; }

.blockContent .blockLeft {
  float: left;
  position: relative; }
  .blockContent .blockLeft ul {
    list-style: none;
    width: 300px; }
    .blockContent .blockLeft ul li {
      padding-left: 20px;
      font-weight: 300; }
      .blockContent .blockLeft ul li:nth-child(3) {
        padding-left: 40px; }
      .blockContent .blockLeft ul li:nth-child(4) {
        padding-left: 40px; }
      .blockContent .blockLeft ul li:nth-child(5) {
        padding-left: 40px; }

.active {
  font-weight: 700 !important; }

/*# sourceMappingURL=devDock.css.map */
