.help100 {
  width: 100%;
  border-bottom: 1px solid #d2d2d5; }
  .help100 .nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 80px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 1170px;
    margin: auto; }
    .help100 .nav .logo {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      width: 200px;
      background: url("/img/header/logo.png") no-repeat left; }
      .help100 .nav .logo a {
        display: block;
        height: 100%;
        width: 100%; }
    .help100 .nav .navbar {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: auto;
      padding: 0;
      width: 630px;
      overflow: hidden;
      height: 80px; }
      .help100 .nav .navbar li {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        margin: auto;
        width: calc(700px / 4); }
        .help100 .nav .navbar li:hover:nth-child(1) ~ .lavalamp {
          left: 10%; }
        .help100 .nav .navbar li:hover:nth-child(2) ~ .lavalamp {
          left: 34%; }
        .help100 .nav .navbar li:hover:nth-child(3) ~ .lavalamp {
          left: 59.5%; }
        .help100 .nav .navbar li:hover:nth-child(4) ~ .lavalamp {
          left: 84.5%; }
        .help100 .nav .navbar li a {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          margin: auto;
          color: #333333;
          cursor: pointer;
          height: 30px;
          line-height: 28px;
          -moz-user-select: none;
          -webkit-user-select: none;
          user-select: none; }
          .help100 .nav .navbar li a:hover {
            color: #333333;
            font-weight: 700; }
      .help100 .nav .navbar .lavalamp {
        height: 4px;
        width: 40px;
        background: #4055dc;
        position: absolute;
        bottom: 0;
        left: -57px;
        transition: 0.4s ease-in-out; }
    .help100 .nav .buttonLang {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      width: 200px; }
      .help100 .nav .buttonLang .button {
        width: 100px;
        height: 40px;
        border: 1px solid; }
    .help100 .nav .getawayTop {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      width: 250px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .help100 .nav .getawayTop .exit {
        width: 20px;
        height: 30px;
        background: url("/img/header/exit.png") no-repeat center;
        transition: background 0.25s linear;
        margin-left: 20px;
        cursor: pointer; }
        .help100 .nav .getawayTop .exit:hover {
          background: url("/img/header/exit-hover.png") no-repeat center; }

/*navActive. for active page */
.navActive {
  color: #333333;
  font-weight: 700; }

.header {
  min-width: 1024px;
  max-width: 1920px;
  height: 920px;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: none; }
  .header .help101 {
    width: 100%;
    background: url("/img/header/graph1.png") no-repeat center, url("/img/header/logo background.png") no-repeat 600px 100px; }
  .header .banner {
    display: flex;
    width: 1170px;
    height: 630px;
    justify-content: flex-start;
    align-items: flex-end;
    padding-top: 150px;
    margin: auto; }
    .header .banner .blockLeft {
      padding: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; }
    .header .banner .blockRight {
      padding: 0;
      height: 100%;
      position: relative; }
      .header .banner .blockRight img {
        position: absolute;
        top: -30px;
        height: auto;
        max-width: 100%; }
  .header .statistics {
    display: flex;
    height: 215px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 550px;
    background: #fafafc; }
    .header .statistics .country, .header .statistics .bank, .header .statistics .site {
      display: flex;
      flex-direction: column;
      color: #4055dc;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 70px; }
      .header .statistics .country .LL18, .header .statistics .bank .LL18, .header .statistics .site .LL18 {
        color: #333333; }

.banner .blockLeft {
  position: relative; }
  .banner .blockLeft .LL24 {
    margin: 50px 0; }
  .banner .blockLeft .LL48 {
    margin: 0; }
  .banner .blockLeft form {
    height: 130px; }
    .banner .blockLeft form::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      background: #fff;
      bottom: 136px;
      margin: auto;
      left: 136px;
      transform: translate(0px);
      transition: all 0.2s ease-in-out;
      opacity: 0; }
    .banner .blockLeft form::after {
      content: "";
      position: absolute;
      border-top: 3px solid transparent;
      border-left: 6px solid #fff;
      border-bottom: 3px solid transparent;
      bottom: 134px;
      left: 164px;
      transition: all 0.2s ease-in-out;
      opacity: 0; }
    .banner .blockLeft form .LL18:nth-child(1) {
      height: 50px;
      width: 370px;
      border: none;
      border-bottom: 1px solid #0f0f0f;
      margin-bottom: 30px;
      outline: none;
      padding: 20px;
      background: transparent; }

.content .servicefForYour {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 150px 0;
  width: 1170px;
  margin: auto;
  float: none; }
  .content .servicefForYour h2 {
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 70px; }
  .content .servicefForYour p {
    margin: 0;
    padding-left: 30px;
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: flex-start !important; }
  .content .servicefForYour *:nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    width: 370px; }
    .content .servicefForYour *:nth-child(2) img {
      width: 70px;
      height: 70px;
      border: none;
      background-size: 70px; }
  .content .servicefForYour *:nth-child(3) {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    width: 305px; }
    .content .servicefForYour *:nth-child(3) img {
      width: 70px;
      height: 70px;
      border: none;
      background-size: 70px; }
  .content .servicefForYour *:nth-child(4) {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    width: 270px; }
    .content .servicefForYour *:nth-child(4) img {
      width: 70px;
      height: 70px;
      border: none;
      background-size: 70px; }
.content .howToConnect {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0; }
  .content .howToConnect h2 {
    margin: 0 auto; }
  .content .howToConnect .bottomBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    background: #fafafc;
    max-width: 1920px;
    margin-top: 70px; }
    .content .howToConnect .bottomBlock a {
      line-height: 40px; }
    .content .howToConnect .bottomBlock .wrapperButton {
      display: flex;
      height: 40px;
      width: 270px;
      align-items: center;
      justify-content: center; }

.tab {
  height: auto;
  width: 100%; }
  .tab .tab__tab-batton {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 70px 0;
    height: 190px;
    position: relative; }
    .tab .tab__tab-batton .activeTab {
      position: absolute;
      height: 4px;
      width: 50px;
      background: #4055dc;
      margin: auto;
      left: 0;
      right: 0;
      top: 115px;
      margin-left: 765px; }
    .tab .tab__tab-batton .tab__leftTabButton, .tab .tab__tab-batton .tab__rightTabButton {
      width: auto;
      margin: 0 auto auto 300px;
      cursor: pointer; }
    .tab .tab__tab-batton .tab__rightTabButton {
      margin: 0 300px auto auto; }
  .tab .tab__tabContForLeft {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%; }
    .tab .tab__tabContForLeft p {
      display: flex;
      justify-content: center;
      margin: 0;
      width: 100%;
      padding: 0 0 70px; }
    .tab .tab__tabContForLeft div:nth-child(2) {
      background: white url("/img/content/cms/1.png"); }
    .tab .tab__tabContForLeft div:nth-child(3) {
      background: white url("/img/content/cms/2.png"); }
    .tab .tab__tabContForLeft div:nth-child(4) {
      background: white url("/img/content/cms/3.png"); }
    .tab .tab__tabContForLeft div:nth-child(5) {
      background: white url("/img/content/cms/4.png"); }
    .tab .tab__tabContForLeft div:nth-child(6) {
      background: white url("/img/content/cms/5.png"); }
    .tab .tab__tabContForLeft div:nth-child(7) {
      background: white url("/img/content/cms/6.png"); }
    .tab .tab__tabContForLeft div:nth-child(8) {
      background: white url("/img/content/cms/7.png"); }
    .tab .tab__tabContForLeft div:nth-child(9) {
      background: white url("/img/content/cms/8.png"); }
    .tab .tab__tabContForLeft div:nth-child(10) {
      background: white url("/img/content/cms/9.png"); }
    .tab .tab__tabContForLeft div:nth-child(11) {
      background: white url("/img/content/cms/10.png"); }
    .tab .tab__tabContForLeft div:nth-child(12) {
      background: white url("/img/content/cms/11.png"); }
    .tab .tab__tabContForLeft div:nth-child(13) {
      background: white url("/img/content/cms/12.png"); }
    .tab .tab__tabContForLeft div:nth-child(2) {
      border-top: none; }
    .tab .tab__tabContForLeft div:nth-child(3) {
      border-top: none; }
    .tab .tab__tabContForLeft div:nth-child(4) {
      border-top: none; }
    .tab .tab__tabContForLeft div:nth-child(5) {
      border-top: none; }
    .tab .tab__tabContForLeft div:nth-child(10) {
      border-bottom: none; }
    .tab .tab__tabContForLeft div:nth-child(11) {
      border-bottom: none; }
    .tab .tab__tabContForLeft div:nth-child(12) {
      border-bottom: none; }
    .tab .tab__tabContForLeft div:nth-child(13) {
      border-bottom: none; }
    .tab .tab__tabContForLeft div:nth-child(2) {
      border-left: none; }
    .tab .tab__tabContForLeft div:nth-child(6) {
      border-left: none; }
    .tab .tab__tabContForLeft div:nth-child(10) {
      border-left: none; }
    .tab .tab__tabContForLeft div:nth-child(5) {
      border-right: none; }
    .tab .tab__tabContForLeft div:nth-child(9) {
      border-right: none; }
    .tab .tab__tabContForLeft div:nth-child(13) {
      border-right: none; }
    .tab .tab__tabContForLeft div {
      width: 290px;
      height: 120px;
      border: 1px solid #d2d2d5;
      transition: all 0.25s linear; }
      .tab .tab__tabContForLeft div:hover {
        transform: scale(1.01) translateY(-15px);
        z-index: 1;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25); }

.tab__tabContForRight .blockLeft {
  padding-left: 0; }
  .tab__tabContForRight .blockLeft h3 {
    margin: 0;
    padding-bottom: 40px; }
.tab__tabContForRight .blockRight {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background: #fafafc;
  padding: 30px; }
  .tab__tabContForRight .blockRight p {
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    padding: 0 0 43px 0;
    margin: 0; }
  .tab__tabContForRight .blockRight *:nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 150px;
    justify-content: flex-start;
    align-items: center; }
  .tab__tabContForRight .blockRight * img {
    width: 70px;
    height: 85px;
    padding-bottom: 15px; }
  .tab__tabContForRight .blockRight * span {
    display: flex;
    text-align: center; }
  .tab__tabContForRight .blockRight *:nth-child(3) {
    display: flex;
    flex-direction: column;
    width: 150px;
    justify-content: flex-start;
    align-items: center; }
  .tab__tabContForRight .blockRight * img {
    width: 70px;
    height: 85px;
    padding-bottom: 15px; }
  .tab__tabContForRight .blockRight * span {
    display: flex;
    text-align: center; }
  .tab__tabContForRight .blockRight *:nth-child(4) {
    display: flex;
    flex-direction: column;
    width: 150px;
    justify-content: flex-start;
    align-items: center; }
  .tab__tabContForRight .blockRight * img {
    width: 70px;
    height: 85px;
    padding-bottom: 15px; }
  .tab__tabContForRight .blockRight * span {
    display: flex;
    text-align: center; }

.capabilities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 705px;
  padding: 150px 0;
  width: 1170px;
  margin: auto;
  float: none; }
  .capabilities *:nth-child(3) {
    margin: 70px 0; }
  .capabilities *:nth-child(4) {
    margin: 70px 0; }
  .capabilities *:nth-child(5) {
    margin: 70px 0; }
  .capabilities h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-bottom: 40px;
    height: 78px;
    width: 100%; }
  .capabilities p {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px; }
  .capabilities div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 33%;
    height: 85px;
    padding-right: 30px; }
    .capabilities div div {
      display: flex;
      width: 80%;
      padding: 0 0 0 30px;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between; }
    .capabilities div img {
      height: 70px;
      width: 70px; }
    .capabilities div h3 {
      height: 40px;
      margin: 0;
      padding-bottom: 20px;
      width: 270px; }
    .capabilities div p {
      width: 270px;
      height: 45px;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      white-space: pre-wrap; }

.threeSteps {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 150px; }
  .threeSteps * {
    padding: 0;
    margin: 0; }
  .threeSteps h2 {
    display: flex;
    justify-content: center; }
  .threeSteps .loader {
    width: 770px;
    height: 70px;
    margin: 70px auto 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative; }
    .threeSteps .loader .lineLoad {
      height: 6px;
      width: 96%;
      background: #d2d2d5;
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0;
      right: 0;
      overflow: hidden; }
      .threeSteps .loader .lineLoad .lineLoadIn {
        position: absolute;
        height: 6px;
        background: #4055dc;
        width: 100%;
        left: 0;
        border-radius: 3px;
        transform: translateX(-100%); }
        .threeSteps .loader .lineLoad .lineLoadIn::before {
          content: "";
          width: 1000px;
          height: 6px;
          background: #4055dc;
          position: absolute;
          left: -131%; }
    .threeSteps .loader .circle {
      width: 70px;
      height: 70px;
      background: #d2d2d5;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 2s ease;
      position: relative; }
    .threeSteps .loader .circleIn {
      border-radius: 50%;
      height: 46px;
      width: 46px;
      background: #d2d2d5;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      padding-top: 2px;
      padding-left: 1px;
      transition: 1s ease;
      position: absolute;
      margin: auto; }
    .threeSteps .loader *:nth-child(3) {
      top: 0;
      bottom: 0;
      left: 12px; }
    .threeSteps .loader *:nth-child(5) {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
    .threeSteps .loader *:nth-child(7) {
      top: 0;
      bottom: 0;
      right: 12px; }
  .threeSteps .description {
    display: flex;
    flex-direction: row;
    width: 1030px;
    margin: auto; }
    .threeSteps .description div {
      display: flex;
      flex-direction: column;
      margin: auto; }
      .threeSteps .description div:nth-child(2) {
        margin-right: 30px; }
      .threeSteps .description div:nth-child(3) {
        margin-right: 0; }
      .threeSteps .description div:nth-child(1) {
        max-width: 200px; }
      .threeSteps .description div:nth-child(2) {
        max-width: 230px; }
      .threeSteps .description div:nth-child(3) {
        max-width: 270px; }
      .threeSteps .description div h3 {
        padding-bottom: 30px; }

.registration {
  height: 260px;
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #4055dc;
  padding: 0;
  min-width: 1170px;
  max-width: 1920px;
  float: none;
  margin-left: auto;
  margin-right: auto; }
  .registration h2 {
    color: white;
    text-shadow: 0 0 5px #4055dc;
    margin: 0;
    padding: 0; }
  .registration form {
    background: #4055dc; }
    .registration form::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      background: #333333;
      bottom: 23px;
      margin: auto;
      left: 145px;
      transform: translate(0px);
      transition: all 0.2s ease-in-out;
      opacity: 0; }
    .registration form::after {
      content: "";
      position: absolute;
      border-top: 3px solid transparent;
      border-left: 5px solid #333333;
      border-bottom: 3px solid transparent;
      bottom: 21px;
      left: 174px;
      transition: all 0.2s ease-in-out;
      opacity: 0; }
    .registration form input:nth-child(1) {
      color: white;
      border: none;
      outline: none;
      padding: 15px 20px;
      border-bottom: 1px solid white;
      height: 50px;
      width: 370px;
      margin-bottom: 30px;
      background: Inherit;
      color: white; }
      .registration form input:nth-child(1)::placeholder {
        color: white; }
    .registration form input:last-child {
      background: white;
      border-color: #4055dc;
      color: #333333; }

@keyframes babl {
  from {
    transform: scale(0.5); }
  50% {
    transform: scale(1.2); }
  to {
    transform: scale(1); } }
.animationBabl {
  animation: babl 0.5s cubic-bezier(1, 1.32, 0.54, 1.55); }

.footer {
  height: 340px;
  background: #333333;
  color: white;
  width: 100%;
  max-width: 1920px;
  left: 0;
  right: 0;
  margin: auto; }
  .footer > .widthForBlock {
    width: 1170px;
    margin: auto; }
  .footer .blockLeft {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 340px;
    position: relative;
    padding: 0 15px 0 0; }
    .footer .blockLeft .copyright {
      position: absolute;
      bottom: 0;
      width: 200px; }
  .footer .blockRight .logoFooter {
    background: url("/img/content/main/logoWhite.png") no-repeat;
    width: 170px;
    height: 80px;
    margin-top: 70px;
    margin-left: 100px; }
    .footer .blockRight .logoFooter a {
      position: absolute;
      display: block;
      width: 175px;
      height: 45px; }
  .footer .blockRight ul {
    margin: 0 0 0 100px;
    width: 170px;
    height: 25px; }
    .footer .blockRight ul li {
      height: 81%;
      width: 20px;
      margin: 0 20px 0 0 !important;
      padding: 0;
      display: inline-block;
      float: left;
      transition: all 0.2s linear; }
    .footer .blockRight ul li:nth-child(1) {
      background: url("/img/footer/social.png");
      background-position: 0 0px;
      cursor: pointer; }
      .footer .blockRight ul li:nth-child(1):hover {
        background: url("/img/footer/social_hover.png");
        background-position: 0 0px; }
    .footer .blockRight ul li:nth-child(2) {
      background: url("/img/footer/social.png");
      background-position: -40px 0px;
      cursor: pointer; }
      .footer .blockRight ul li:nth-child(2):hover {
        background: url("/img/footer/social_hover.png");
        background-position: -40px 0px; }
    .footer .blockRight ul li:nth-child(3) {
      background: url("/img/footer/social.png");
      background-position: -80px 0px;
      cursor: pointer; }
      .footer .blockRight ul li:nth-child(3):hover {
        background: url("/img/footer/social_hover.png");
        background-position: -80px 0px; }
    .footer .blockRight ul li:nth-child(4) {
      background: url("/img/footer/social.png");
      background-position: -120px 0px;
      cursor: pointer; }
      .footer .blockRight ul li:nth-child(4):hover {
        background: url("/img/footer/social_hover.png");
        background-position: -120px 0px; }
  .footer ul {
    list-style: none;
    padding: 0;
    margin: 70px 0 0; }
    .footer ul li {
      margin-bottom: 20px;
      height: 16px; }
      .footer ul li:nth-child(1) {
        font-weight: 900;
        margin-bottom: 30px; }

a {
  color: white;
  transition: all 0.25s linear;
  cursor: pointer; }
  a:hover {
    color: #3c4aa4; }

#modal form::before {
  right: 281px !important; }
#modal form::after {
  right: 279px !important; }
#modal form .blockBottom input {
  width: 143px; }

.modal-dialog {
  width: 970px;
  height: auto;
  color: #333333; }
  .modal-dialog .modal-content {
    height: 730px; }
    .modal-dialog .modal-content .modal-header {
      width: 100%;
      height: 190px;
      padding: 0 100px 0 100px;
      border: none; }
      .modal-dialog .modal-content .modal-header .modal-title {
        height: 70px;
        background: url(/img/header/logo.png) no-repeat left bottom; }
      .modal-dialog .modal-content .modal-header .close {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 40px;
        top: 40px; }
        .modal-dialog .modal-content .modal-header .close:before {
          content: "";
          top: 0;
          position: absolute;
          width: 1px;
          height: 20px;
          border: 1px solid #000;
          transform: rotate(45deg); }
        .modal-dialog .modal-content .modal-header .close:after {
          content: "";
          top: 0;
          position: absolute;
          width: 1px;
          height: 20px;
          border: 1px solid #000;
          transform: rotate(-45deg); }
      .modal-dialog .modal-content .modal-header .logo {
        width: 100%;
        height: 120px;
        text-align: center;
        line-height: 120px;
        background: url(/img/logo_store/logo-lamoda.png) no-repeat center;
        background-size: 102px 30px; }
    .modal-dialog .modal-content .modal-body {
      padding: 0 100px 0 100px; }
      .modal-dialog .modal-content .modal-body input, .modal-dialog .modal-content .modal-body select, .modal-dialog .modal-content .modal-body textarea {
        border: none;
        border-bottom: 1px solid #d2d2d5; }
        .modal-dialog .modal-content .modal-body input:focus, .modal-dialog .modal-content .modal-body select:focus, .modal-dialog .modal-content .modal-body textarea:focus {
          outline: none; }
      .modal-dialog .modal-content .modal-body form::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        background: #fff;
        bottom: 40px;
        margin: auto;
        right: 267px;
        transform: translate(0px);
        transition: all 0.2s ease-in-out;
        opacity: 0;
        z-index: 1; }
      .modal-dialog .modal-content .modal-body form::after {
        content: "";
        position: absolute;
        border-top: 3px solid transparent;
        border-left: 6px solid #fff;
        border-bottom: 3px solid transparent;
        bottom: 38px;
        right: 261px;
        transition: all 0.2s ease-in-out;
        opacity: 0;
        z-index: 1; }
      .modal-dialog .modal-content .modal-body .capcha {
        height: 80px;
        width: 300px;
        background: #ad2; }
      .modal-dialog .modal-content .modal-body .blockTop {
        position: relative; }
        .modal-dialog .modal-content .modal-body .blockTop .score {
          float: left; }
        .modal-dialog .modal-content .modal-body .blockTop .payment {
          float: right; }
          .modal-dialog .modal-content .modal-body .blockTop .payment * {
            color: #4055dc; }
      .modal-dialog .modal-content .modal-body .blockCenter {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 70px 0; }
        .modal-dialog .modal-content .modal-body .blockCenter div.qiwi {
          width: 168px;
          height: 70px;
          background: url(/img/ps/qiwi.png) no-repeat center;
          margin: 0 15px;
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
          -webkit-background-size: contain;
          transition: all 0.35s linear;
          background-size: 135px auto; }
          .modal-dialog .modal-content .modal-body .blockCenter div.qiwi:hover {
            -webkit-filter: none;
            filter: none; }
          .modal-dialog .modal-content .modal-body .blockCenter div.qiwi input[type='radio'] {
            visibility: hidden; }
        .modal-dialog .modal-content .modal-body .blockCenter div.perfectmoney {
          width: 168px;
          height: 70px;
          background: url(/img/ps/perfectmoney.png) no-repeat center;
          margin: 0 15px;
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
          -webkit-background-size: contain;
          transition: all 0.35s linear;
          background-size: 135px auto; }
          .modal-dialog .modal-content .modal-body .blockCenter div.perfectmoney:hover {
            -webkit-filter: none;
            filter: none; }
          .modal-dialog .modal-content .modal-body .blockCenter div.perfectmoney input[type='radio'] {
            visibility: hidden; }
        .modal-dialog .modal-content .modal-body .blockCenter div.advcash {
          width: 168px;
          height: 70px;
          background: url(/img/ps/advcash.png) no-repeat center;
          margin: 0 15px;
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
          -webkit-background-size: contain;
          transition: all 0.35s linear;
          background-size: 135px auto; }
          .modal-dialog .modal-content .modal-body .blockCenter div.advcash:hover {
            -webkit-filter: none;
            filter: none; }
          .modal-dialog .modal-content .modal-body .blockCenter div.advcash input[type='radio'] {
            visibility: hidden; }
        .modal-dialog .modal-content .modal-body .blockCenter div.bitcoin {
          width: 168px;
          height: 70px;
          background: url(/img/ps/bitcoin.png) no-repeat center;
          margin: 0 15px;
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
          -webkit-background-size: contain;
          transition: all 0.35s linear;
          background-size: 135px auto; }
          .modal-dialog .modal-content .modal-body .blockCenter div.bitcoin:hover {
            -webkit-filter: none;
            filter: none; }
          .modal-dialog .modal-content .modal-body .blockCenter div.bitcoin input[type='radio'] {
            visibility: hidden; }
        .modal-dialog .modal-content .modal-body .blockCenter div.payeer {
          width: 168px;
          height: 70px;
          background: url(/img/ps/payeer.png) no-repeat center;
          margin: 0 15px;
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
          -webkit-background-size: contain;
          transition: all 0.35s linear;
          background-size: 135px auto; }
          .modal-dialog .modal-content .modal-body .blockCenter div.payeer:hover {
            -webkit-filter: none;
            filter: none; }
          .modal-dialog .modal-content .modal-body .blockCenter div.payeer input[type='radio'] {
            visibility: hidden; }
        .modal-dialog .modal-content .modal-body .blockCenter div.yandex {
          width: 168px;
          height: 70px;
          background: url(/img/ps/yandex.png) no-repeat center;
          margin: 0 15px;
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
          -webkit-background-size: contain;
          transition: all 0.35s linear;
          background-size: 135px auto; }
          .modal-dialog .modal-content .modal-body .blockCenter div.yandex:hover {
            -webkit-filter: none;
            filter: none; }
          .modal-dialog .modal-content .modal-body .blockCenter div.yandex input[type='radio'] {
            visibility: hidden; }
        .modal-dialog .modal-content .modal-body .blockCenter div.card {
          width: 168px;
          height: 70px;
          background: url(/img/ps/card.png) no-repeat center;
          margin: 0 15px;
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
          -webkit-background-size: contain;
          transition: all 0.35s linear;
          background-size: 135px auto; }
          .modal-dialog .modal-content .modal-body .blockCenter div.card:hover {
            -webkit-filter: none;
            filter: none; }
          .modal-dialog .modal-content .modal-body .blockCenter div.card input[type='radio'] {
            visibility: hidden; }
        .modal-dialog .modal-content .modal-body .blockCenter div.nixmoney {
          width: 168px;
          height: 70px;
          background: url(/img/ps/nixmoney.png) no-repeat center;
          margin: 0 15px;
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
          -webkit-background-size: contain;
          transition: all 0.35s linear;
          background-size: 135px auto; }
          .modal-dialog .modal-content .modal-body .blockCenter div.nixmoney:hover {
            -webkit-filter: none;
            filter: none; }
          .modal-dialog .modal-content .modal-body .blockCenter div.nixmoney input[type='radio'] {
            visibility: hidden; }
        .modal-dialog .modal-content .modal-body .blockCenter div.okpay {
          width: 168px;
          height: 70px;
          background: url(/img/ps/okpay.png) no-repeat center;
          margin: 0 15px;
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
          -webkit-background-size: contain;
          transition: all 0.35s linear;
          background-size: 135px auto; }
          .modal-dialog .modal-content .modal-body .blockCenter div.okpay:hover {
            -webkit-filter: none;
            filter: none; }
          .modal-dialog .modal-content .modal-body .blockCenter div.okpay input[type='radio'] {
            visibility: hidden; }
        .modal-dialog .modal-content .modal-body .blockCenter div.okpay {
          margin-left: 0; }
        .modal-dialog .modal-content .modal-body .blockCenter div.bitcoin {
          margin-right: 0; }
        .modal-dialog .modal-content .modal-body .blockCenter div.payeer {
          margin-left: 0; }
        .modal-dialog .modal-content .modal-body .blockCenter div.nixmoney {
          margin-right: 0; }
        .modal-dialog .modal-content .modal-body .blockCenter div.qiwi {
          margin-left: 0;
          margin-right: 0;
          width: 170px;
          background-position: left center;
          position: relative;
          overflow: hidden;
          transition: all 0.35s linear; }
          .modal-dialog .modal-content .modal-body .blockCenter div.qiwi input {
            width: 200px;
            height: 30px;
            border: none;
            border-bottom: 1px solid #d2d2d5;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            display: none; }
            .modal-dialog .modal-content .modal-body .blockCenter div.qiwi input:focus {
              outline: none; }
      .modal-dialog .modal-content .modal-body .blockBottom {
        position: relative;
        height: 85px; }
        .modal-dialog .modal-content .modal-body .blockBottom * {
          margin: 0; }
        .modal-dialog .modal-content .modal-body .blockBottom .capcha {
          position: absolute;
          left: 115px;
          top: 0;
          bottom: 0;
          margin: auto; }
        .modal-dialog .modal-content .modal-body .blockBottom input {
          position: absolute;
          left: 450px;
          top: 0;
          bottom: 0;
          margin: auto; }

.activePay {
  transform: scale(1.01) translateY(-15px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  -webkit-filter: none !important;
  filter: none !important; }

.foqusQiwi {
  width: 370px !important;
  overflow: auto; }

@media all and (min-width: 1024px) {
  .wrapper {
    padding: 0 !important;
    min-width: 100%; } }
dialog {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  background: rgba(0, 0, 0, 0.5); }
  dialog > div {
    width: 500px;
    height: 500px;
    background: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }

/*support */
.header.support {
  height: auto; }

.supportHead, .supportContent {
  display: flex;
  flex-direction: column;
  float: none;
  min-width: 1170px;
  max-width: 1170px;
  margin: auto; }
  .supportHead h1, .supportHead h2, .supportContent h1, .supportContent h2 {
    text-align: center;
    margin: 0; }

.supportHead {
  justify-content: space-between;
  height: 330px;
  margin: 150px auto; }
  .supportHead > p {
    text-align: center;
    margin: 40px 0 70px; }
  .supportHead .supportHead__supportContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
    margin: auto;
    position: relative; }
    .supportHead .supportHead__supportContent div {
      width: 200px;
      height: 150px;
      padding: 0 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      position: relative; }
    .supportHead .supportHead__supportContent .line {
      width: 35px;
      height: 4px;
      position: absolute;
      bottom: 0;
      background: #4055dc;
      display: none; }
    .supportHead .supportHead__supportContent img {
      margin-bottom: 40px;
      border-radius: 50%;
      box-shadow: 0px 0px 0px 20px white; }
    .supportHead .supportHead__supportContent span {
      display: block;
      height: 40px;
      text-align: center;
      transition: all 0.25s linear;
      cursor: pointer; }
      .supportHead .supportHead__supportContent span:hover {
        color: #4055dc; }

.supportContent > h2 {
  margin-bottom: 70px; }
.supportContent * {
  margin: 0; }
.supportContent .question {
  position: relative;
  width: 800px;
  margin: auto; }
  .supportContent .question > p {
    margin: 0 0 40px;
    cursor: pointer; }
  .supportContent .question .answer {
    margin: 0 0 40px;
    color: gray;
    display: none; }
.supportContent .wrapperButton {
  width: 170px;
  height: 40px;
  margin: 70px auto; }
  .supportContent .wrapperButton a {
    line-height: 40px; }
.supportContent .verticaLine {
  width: 4px;
  height: 40px;
  background: #4055dc;
  position: absolute;
  top: 0;
  left: -30px;
  display: none; }

@keyframes boxShadow {
  from {
    box-shadow: 0px 0px 0px 0px white, 0px 0px 0px 1px #4055dc; }
  to {
    box-shadow: 0px 0px 0px 19px white, 0px 0px 0px 20px #4055dc; } }
@keyframes boxShadowNone {
  from {
    box-shadow: 0px 0px 0px 19px white, 0px 0px 0px 20px #4055dc; }
  to {
    box-shadow: 0px 0px 0px 0px white, 0px 0px 0px 0px #4055dc; } }

/*# sourceMappingURL=index.css.map */
