$colorBorder: rgb(64, 85, 220)
$colorText: rgb(51, 51, 51)
$colorWhite: rgb(255, 255, 255)
$colorLine: rgb(210, 210, 213)

@import ../nav-bar/nav-bar
.header
  min-width: 1024px
  max-width: 1920px
  height: 920px
  position: relative
  margin: auto
  display: flex
  flex-direction: column
  justify-content: space-between
  float: none
  .help101
    width: 100%
    background: url("/img/header/graph1.png")no-repeat center, url("/img/header/logo background.png")no-repeat 600px 100px
  .banner
    display: flex 
    width: 1170px
    height: 630px 
    justify-content: flex-start 
    align-items: flex-end 
    padding-top: 150px
    margin: auto
    .blockLeft
      padding: 0  
      height: 100%  
      display: flex  
      flex-direction: column  
      justify-content: flex-start  
      align-items: flex-start
    .blockRight
      padding: 0
      height: 100%
      position: relative
      img
        position: absolute
        top: -30px
        height: auto
        max-width: 100%
  .statistics
    display: flex
    height: 215px
    flex-direction: row
    justify-content: space-around
    align-items: center
    padding: 0 550px
    background: #fafafc
    .country
      display: flex
      flex-direction: column
      color: $colorBorder
      justify-content: center
      align-items: center
      width: 70px
      height: 70px
      .LL18
        color: $colorText
    .bank
      @extend .country
    .site
      @extend .country
.banner
  .blockLeft
    position: relative
    .LL24
      margin: 50px 0
    .LL48
      margin: 0
    form
      height: 130px
      &::before
        content: ""
        position: absolute
        width: 30px
        height: 2px
        background: #fff
        bottom: 136px
        margin: auto
        left: 136px
        transform: translate(0px)
        transition: all 0.2s ease-in-out
        opacity: 0
      &::after
        content: ""
        position: absolute
        border-top: 3px solid transparent
        border-left: 6px solid #fff
        border-bottom: 3px solid transparent
        bottom: 134px
        left: 164px
        transition: all 0.2s ease-in-out
        opacity: 0
      .LL18
        &:nth-child(1)
          height: 50px
          width: 370px
          border: none
          border-bottom: 1px solid #0f0f0f
          margin-bottom: 30px
          outline: none
          padding: 20px
          background: transparent
.content
  .servicefForYour
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
    padding: 150px 0
    width: 1170px
    margin: auto
    float: none
    h2
      margin: 0
      display: flex
      justify-content: center
      width: 100%
      padding-bottom: 70px
    p
      margin: 0
      padding-left: 30px
      display: flex
      flex-direction: column!important
      justify-content: center!important
      align-items: flex-start!important
    $y: (2: 370, 3: 305, 4: 270 )
    @each $z, $img in ( 2: circleTime, 3: circlePad, 4: circleHeadSet)
      *
        &:nth-child(#{$z})
          display: flex
          flex-direction: row
          align-items: stretch
          justify-content: space-between
          width: map-get($y, $z)+px
          img
            width:  70px
            height: 70px
            border: none
            //background: url('/img/content/main/servicefForYour/#{$img}.png')no-repeat center
            background-size: 70px
  .howToConnect
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    padding: 0
    h2
      margin: 0 auto
    .bottomBlock
      display: flex
      flex-direction: row
      align-items: center
      justify-content: center
      width: 100%
      height: 120px
      background: #fafafc
      max-width: 1920px
      margin-top: 70px
      a
        line-height: 40px
      .wrapperButton
        display: flex
        height: 40px
        width: 270px
        align-items: center
        justify-content: center
.tab
  height: auto
  width: 100%
  .tab__tab-batton
    display: flex
    flex-direction: row
    align-items: baseline
    justify-content: space-between
    padding: 70px 0
    height: 190px
    position: relative
    .activeTab
      position: absolute
      height: 4px
      width: 50px
      background: $colorBorder
      margin: auto
      left: 0
      right: 0
      top: 115px
      margin-left: 765px
    .tab__leftTabButton
      width: auto
      margin: 0 auto auto 300px
      cursor: pointer
    .tab__rightTabButton
      @extend .tab__leftTabButton
      margin: 0 300px auto auto
  .tab__tab-content
    //transition: all 2s linear
  .tab__tabContForLeft
    display: flex
    align-items: center
    justify-content: flex-start
    flex-wrap: wrap
    width: 100%
    p
      display: flex
      justify-content: center
      margin: 0
      width: 100%
      padding: 0 0 70px
    @for $i from 2 through 13
      div
        &:nth-child(#{$i})
          background: $colorWhite url("/img/content/cms/#{$i - 1}.png")
    @each $border in (2, 3, 4, 5)
      div
        &:nth-child(#{$border})
          border-top: none
    @each $border in (10, 11, 12, 13)
      div
        &:nth-child(#{$border})
          border-bottom: none
    @each $border in (2, 6, 10)
      div
        &:nth-child(#{$border})
          border-left: none
    @each $border in (5, 9, 13)
      div
        &:nth-child(#{$border})
          border-right: none
    div
      width: 290px
      height: 120px
      border: 1px solid $colorLine
      transition: all .25s linear
      &:hover
        transform: scale(1.01) translateY(-15px)
        z-index: 1
        box-shadow: 0 10px 15px rgba(0,0,0,.25)
.tab__tabContForRight
  .blockLeft
    padding-left: 0
    h3
      margin: 0
      padding-bottom: 40px
  .blockRight
    display: flex
    flex-wrap: wrap
    flex-direction: row
    justify-content: space-between
    background: #fafafc
    padding: 30px
    p
      width: 100%
      display: flex
      justify-items: center
      justify-content: center
      padding: 0 0 43px 0
      margin: 0
    @for $i from 2 through 4
      *
        &:nth-child(#{$i})
          display: flex
          flex-direction: column
          width: 150px
          justify-content: flex-start
          align-items: center
        img
          width: 70px
          height: 85px
          padding-bottom: 15px
        span
          display: flex
          text-align: center
.capabilities
  display: flex
  flex-direction: row
  flex-wrap: wrap
  height: 705px
  padding: 150px 0
  width: 1170px
  margin: auto
  float: none
  *
    @for $l from 3 to 6
      &:nth-child(#{$l})
        margin: 70px 0
  h2
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    margin: 0
    padding-bottom: 40px
    height: 78px
    width: 100%
  p
    margin: 0
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    height: 20px
  div
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start
    width: 33%
    height: 85px
    padding-right: 30px
    div
      display: flex
      width: 80%
      padding: 0 0 0 30px
      flex-direction: column
      flex-wrap: nowrap
      justify-content: space-between
    img
      height: 70px
      width: 70px
    h3
      height: 40px
      margin: 0
      padding-bottom: 20px
      width: 270px
    p
      width: 270px
      height: 45px
      display: flex
      justify-content: flex-end
      flex-wrap: wrap
      white-space: pre-wrap
.threeSteps
  padding: 0
  display: flex
  flex-direction: column
  justify-content: center
  margin-bottom: 150px
  *
    padding: 0
    margin: 0
  h2
    display: flex
    justify-content: center
  .loader
    width: 770px
    height: 70px
    margin: 70px auto 40px
    display: flex
    flex-direction: row
    justify-content: space-between
    position: relative
    .lineLoad
      height: 6px
      width: 96%
      background: $colorLine
      position: absolute
      z-index: -1
      top: 0
      bottom: 0
      margin: auto
      left: 0
      right: 0
      overflow: hidden
      .lineLoadIn
        position: absolute
        height: 6px
        background: $colorBorder
        width: 100%
        left: 0
        border-radius: 3px
        transform: translateX(-100%)
        &::before
          content: ""
          width: 1000px
          height: 6px
          background: #4055dc
          position: absolute
          left: -131%
    .circle
      width: 70px
      height: 70px
      background: $colorLine
      border-radius: 50%
      display: flex
      justify-content: center
      align-items: center
      transition: 2s ease
      position: relative
    .circleIn
      border-radius: 50%
      height: 46px
      width: 46px
      background: #d2d2d5
      display: flex
      justify-content: center
      align-items: center
      color: white
      padding-top: 2px
      padding-left: 1px
      transition: 1s ease
      position: absolute
      margin: auto
    *
      &:nth-child(3)
        top: 0
        bottom: 0
        left: 12px
      &:nth-child(5)
        top: 0
        bottom: 0
        left: 0
        right: 0
      &:nth-child(7)
        top: 0
        bottom: 0
        right: 12px
  .description
    display: flex
    flex-direction: row
    width: 1030px
    margin: auto
    div
      display: flex
      flex-direction: column
      margin: auto
      &:nth-child(2)
        margin-right: 30px
      &:nth-child(3)
        margin-right: 0
      @each $u, $g in (1: '200px', 2: '230px', 3: '270px')
        &:nth-child(#{$u})
          max-width: #{$g}
      h3
        padding-bottom: 30px
.registration
  height: 260px
  margin-top: 150px
  display: flex
  flex-direction: row
  align-items: center
  background: #4055dc
  padding: 0
  min-width: 1170px
  max-width: 1920px
  float: none
  margin-left: auto
  margin-right: auto
  h2
    color: $colorWhite
    text-shadow: 0 0 5px $colorBorder
    margin: 0
    padding: 0
  form
    background: $colorBorder
    &::before
      content: ""
      position: absolute
      width: 30px
      height: 2px
      background: $colorText
      bottom: 23px
      margin: auto
      left: 145px
      transform: translate(0px)
      transition: all 0.2s ease-in-out
      opacity: 0
    &::after
      content: ""
      position: absolute
      border-top: 3px solid transparent
      border-left: 5px solid $colorText
      border-bottom: 3px solid transparent
      bottom: 21px
      left: 174px
      transition: all 0.2s ease-in-out
      opacity: 0
    input
      &:nth-child(1)
        color: $colorWhite
        border: none
        outline: none
        padding: 15px 20px
        border-bottom: 1px solid $colorWhite
        height: 50px
        width: 370px
        margin-bottom: 30px
        background: Inherit
        color: $colorWhite
        &::placeholder
          color: $colorWhite
      &:last-child
        background: $colorWhite
        border-color: $colorBorder
        color: $colorText
@keyframes babl
  from
    transform: scale(0.5)
  50%
    transform: scale(1.2)
  to
    transform: scale(1)
.animationBabl
  animation: babl .5s cubic-bezier(1,1.32,.54,1.55)

@import ../footer/footer.sass

@media  all and (min-width: 1024px)
  .wrapper
    padding: 0!important
    min-width: 100%
    
dialog
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  border: none
  background: rgba(0,0,0,.5)
  > div
    width: 500px
    height: 500px
    background: #fff
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto
    
    
/*support*/
.header.support
  height: auto
//.nav
//  .buttonLang
//    width: 300px
.supportHead, .supportContent
  display: flex
  flex-direction: column
  float: none
  min-width: 1170px
  max-width: 1170px
  margin: auto
  h1, h2
    text-align: center
    margin: 0
.supportHead
  justify-content: space-between
  height: 330px
  margin: 150px auto
  > p
    text-align: center
    margin: 40px 0 70px
  .supportHead__supportContent
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 800px
    margin: auto
    position: relative
    div
      width: 200px
      height: 150px
      padding: 0 15px
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: center
      position: relative
    .line
      width: 35px
      height: 4px
      position: absolute
      bottom: 0
      background: $colorBorder
      display: none
      //transition: all .25s linear
    img
      margin-bottom: 40px
      border-radius: 50%
      box-shadow: 0px 0px 0px 20px rgb(255, 255, 255)
      
    span
      display: block
      height: 40px
      text-align: center
      transition: all .25s linear
      cursor: pointer
      &:hover
        color: $colorBorder
.supportContent
  > h2
    margin-bottom: 70px
  *
    margin: 0
  .question
    position: relative
    width: 800px
    margin: auto
    > p
      margin: 0 0 40px
      cursor: pointer
    .answer
      margin: 0 0 40px
      color: rgb(128, 128, 128)
      display: none
  .wrapperButton
    width: 170px
    height: 40px
    margin: 70px auto
    a
      line-height: 40px
  .verticaLine
    width: 4px
    height: 40px
    background: $colorBorder
    position: absolute
    top: 0
    left: -30px
    display: none
@keyframes boxShadow
  from
    box-shadow: 0px 0px 0px 0px rgb(255, 255, 255), 0px 0px 0px 1px $colorBorder
  to
    box-shadow: 0px 0px 0px 19px rgb(255, 255, 255), 0px 0px 0px 20px $colorBorder
@keyframes boxShadowNone
  from
    box-shadow: 0px 0px 0px 19px rgb(255, 255, 255), 0px 0px 0px 20px $colorBorder
  to
    box-shadow: 0px 0px 0px 0px rgb(255, 255, 255), 0px 0px 0px 0px $colorBorder