$colorBorder: rgb(64, 85, 220)
$colorText: rgb(51, 51, 51)
$colorWhite: rgb(255, 255, 255)
$colorLine: rgb(210, 210, 213)

.header
  height: auto
.inNav
  max-width: 1170px
  height: 70px
  margin: 70px auto
  a
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
  div
    position: relative
    display: inline-block
    width: 210px
    height: 70px
    margin-right: 15px
    margin-left: 11px
    text-align: center
    box-shadow: 0 0 10px rgba(0, 0, 0, .1)
    transition: all .25s linear
    cursor: pointer
    -moz-user-select: none
    user-select: none
    &:first-child
      margin-left: 0
    &:last-child
      margin-right: 0
    &:hover
      box-shadow: 0 10px 10px rgba(0, 0, 0, .25)
      transform: translatey(-10px)
  span
    line-height: 70px
.blockData
  max-width: 1170px
  margin: auto
  h2
    margin: 0
.blockData__blockSearch
  margin: 70px auto
  form
    > div
      width: 170px
      height: 50px
      display: inline-block
      position: relative
      margin: 20px 15px
      float: left
  select
    width: 170px
    border: none
    box-sizing: border-box
    height: 100%
    padding-left: 20px
    padding-right: 20px
    &:focus
      outline: none
  input
    border: none
    box-sizing: border-box
    height: 100%
    padding-left: 20px
    width: 170px
    &:focus
      outline: none
  .bottomLine
    border-bottom: 2px solid red
.blockData__Data
  padding: 20px 40px
  display: table
  width: 100%
  box-shadow: 0 0 10px rgba(0,0,0,.1)
  .row
    display: table-row
    width: 100%
    .slide
      width: 100%
      height: auto
    .cell
      display: inline-block
      box-sizing: border-box
      height: 50px
      padding: 0 15px
      text-align: left
      width: calc(100% / 8)
      float: left
      line-height: 50px
      &:nth-last-child(3)
        width: 160px
      &:nth-last-child(2)
        width: 50px
    .cell.th
      &:first-child
        width: 141px
      &:nth-last-child(3)
        width: 136px
      &:nth-last-child(2)
        width: 160px
      &:nth-last-child(1)
        width: 50px
    .cell.td
      &:first-child
        width: 141px
      &:nth-last-child(3)
        width: 160px
  > .button
    width: 200px
    height: 40px
    margin: 40px auto 40px 30px
    &:hover
      width: 270px
.slide
  background: #fafafc
  position: relative
  float: left
  padding: 40px 15px
  .blockLeft
    width: calc(100% / 3)
    display: inline-block
    height: 100%
    position: relative
    span
      display: block
      height: calc(170px / 6)
      line-height: calc(170px / 6)
    .fa
      width: 20px
      height: 20px
      color: $colorText
      position: absolute
      top: 0
      bottom: 0
      margin: auto
      left: 15px
      font-size: 20px
      transition: .35s linear
  .blockCenter
    @extend .blockLeft
    span
      display: block
      height: calc(170px / 6)
      line-height: calc(170px / 6)
  .blockRight
    @extend .blockLeft
    .wrapperButton
      width: 230px
      height: 40px
.blockBottom
  margin: 70px 0 150px
  .wrapperButton
    width: 170px
    height: 40px
.content
  padding-bottom: 0
.footer
  background: #ffffff
  height: 0
.actives
  background: $colorBorder
  color: #fff
.blockButton
  position: relative
  .hoverButton
    width: 210px
    &::before
      right: 78.5%
      top: 22px
      transition: all .15s linear
    &::after
      right: 79%
      transition: all .15s linear
    a
      color: #fff

/*shop*/
$widthLeftShop: 240px
$widthRightShop: auto
$widthCenterShop: 254px
$i: !important
.blockData__Data.blockData_setting
  margin-bottom: 150px
.row.shop
  .cell
    width: calc(100% / 4)$i
    &:nth-last-child(1)
      width: $widthRightShop     $i
    &:nth-last-child(2)
      width: $widthCenterShop     $i
    &:nth-last-child(3)
      width: $widthCenterShop     $i
    &:nth-last-child(4)
      width: $widthLeftShop     $i
.slide.shop
  padding-left: 0
  padding-right: 0
  .blockLeft
    width: calc(100% / 4) $i
    display: block $i
    height: 100%          $i
    position: relative    $i
    width: $widthLeftShop        $i
    float: left
    padding-left: 15px
    span
      margin-bottom: 40px
    .wrapperButton
      width: 170px        $i
      height: 40px        $i
      margin-left: 0
      &:hover
        .fa
          color: $colorWhite
      a
        line-height: 39px!important
    line-height: normal   $i
  .blockCenter
    @extend .blockLeft
    width: $widthCenterShop       $i
    padding-left: 15px
  .blockRight
    @extend .blockLeft
    width: $widthRightShop       $i
    span
      margin-bottom: 0
    div
      display: inline-block
    .blockRight__left
      margin-right: 15px
.row.shop.dataTable
  .slide
    margin-bottom: 30px    $i
.blockCenter div
  width: 100%

#settings
  form
    &::before
      right: 84%   $i
      bottom: 74px $i
    &::after
      right: 83.5% $i
      bottom: 72px $i
      visibility: visible
  form.technical
    &::before
      right: 53%   $i
      bottom: 74px $i
    &::after
      right: 52.5% $i
      bottom: 72px $i
      visibility: visible
  form.security
    &::before
      right: 84%   $i
      bottom: 64px $i
    &::after
      right: 83.5% $i
      bottom: 62px $i
      visibility: visible
  .modal-header
    height: 170px
    position: relative
    h4
      background: none
      width: 470px
      margin: auto
      height: 70px
      position: absolute
      top: 0
      bottom: 0
      right: 0
      left: 0
  .modal-dialog
    width: 1170px
  .modal-body
    background: url("/img/header/logo background.png")no-repeat 770px center
  .blockTop
    height: 50px
  .inNav
    margin: 0
    span
      line-height: 54px
    div
      width: 169px
      height: 50px
  .blockCenterSettings
    @for $i from 1 through 5
      div:nth-child(#{$i})
        height: 50px
        margin: 40px 0
        width: 570px
    div:last-child
      height: 130px
      width: 570px
    input,
    textarea
      width: 100%
      height: 100%
      &:focus
        outline: none
  .blockBottom
    position: relative
    height: 50px
    margin: 50px auto 50px
    input
      left: 0!important
  .modal-content
    height: auto
    min-height: 630px
  .technical
    .blockCenterSettings
      div:last-child
        height: 50px
        width: 170px
        margin-bottom: 50px
    .blockBottom
      position: absolute
      bottom: 0
      left: 300px
    select
      width: 100%
      height: 100%
  .security
    .blockCenterSettings
      div
        float: left
        &:last-child
          margin-left: 30px
    div:last-child
      height: 50px
      width: 170px
      position: relative
      margin: 40px 0
#addShop
  form
    input
      width: 210px
    &::before
    
    &::after
    
  .modal-content
    height: auto
  .modal-header
    height: 170px
    position: relative
    h4
      background: none
      width: 470px
      margin: auto
      height: 70px
      position: absolute
      top: 0
      bottom: 0
      right: 0
      left: 0
  .blockCenterShop
    height: auto
    div
      height: 50px
      width: 100%
      margin: 40px 0
      &:last-child
        height: 140px
        margin-bottom: 0
    input,textarea
      height: 100%
      width:  100%
      &:focus
        outline: none
  .blockBottom
    margin: 50px 0
    height: 50px
    input
      left: 0
#addShop,#settings
  form
    position: relative
    overflow: hidden
    &::before
      right: 0
      margin: 0
    &::after
      right: 0
      margin: 0
/*API*/
$widthLeftAPI: 370px
$widthRightAPI: 215px
$widthCenterAPIOne: 100px
$widthCenterAPITwo: 400px
.row.api
  .cell
    width: calc(100% / 4)$i
    &:nth-last-child(1)
      width: $widthRightAPI       $i
    &:nth-last-child(2)
      width: $widthCenterAPITwo   $i
    &:nth-last-child(3)
      width: $widthCenterAPIOne   $i
    &:nth-last-child(4)
      width: $widthLeftAPI        $i
.slide.api
  .blockLeft
    width: $widthLeftAPI          $i
  .blockRight                     
    width: $widthRightAPI         $i
  .blockCenter.first              
    width: $widthCenterAPIOne     $i
  .blockCenter.last               
    width: $widthCenterAPITwo     $i
.blockButton.API
  .hoverButton
    width: 175px
    cursor: pointer
    &::before
      right: 84%
    &::after
      right: 84.5%
      width: 25px
      
.collapseBlock
  > div:nth-last-child(2)
    cursor: pointer
    background: url("/img/content/arrow.svg")no-repeat center
    -webkit-background-size: 30px 30px
    background-size: 30px 30px
  .slide
    .blockRight
      position: absolute
      bottom: 40px
      height: 40px