.header {
  height: auto; }

.inNav {
  max-width: 1170px;
  height: 70px;
  margin: 70px auto; }
  .inNav a {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }
  .inNav div {
    position: relative;
    display: inline-block;
    width: 210px;
    height: 70px;
    margin-right: 15px;
    margin-left: 11px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.25s linear;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none; }
    .inNav div:first-child {
      margin-left: 0; }
    .inNav div:last-child {
      margin-right: 0; }
    .inNav div:hover {
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
      transform: translatey(-10px); }
  .inNav span {
    line-height: 70px; }

.blockData {
  max-width: 1170px;
  margin: auto; }
  .blockData h2 {
    margin: 0; }

.blockData__blockSearch {
  margin: 70px auto; }
  .blockData__blockSearch form > div {
    width: 170px;
    height: 50px;
    display: inline-block;
    position: relative;
    margin: 20px 15px;
    float: left; }
  .blockData__blockSearch select {
    width: 170px;
    border: none;
    box-sizing: border-box;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px; }
    .blockData__blockSearch select:focus {
      outline: none; }
  .blockData__blockSearch input {
    border: none;
    box-sizing: border-box;
    height: 100%;
    padding-left: 20px;
    width: 170px; }
    .blockData__blockSearch input:focus {
      outline: none; }
  .blockData__blockSearch .bottomLine {
    border-bottom: 2px solid red; }

.blockData__Data {
  padding: 20px 40px;
  display: table;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
  .blockData__Data .row {
    display: table-row;
    width: 100%; }
    .blockData__Data .row .slide {
      width: 100%;
      height: auto; }
    .blockData__Data .row .cell {
      display: inline-block;
      box-sizing: border-box;
      height: 50px;
      padding: 0 15px;
      text-align: left;
      width: calc(100% / 8);
      float: left;
      line-height: 50px; }
      .blockData__Data .row .cell:nth-last-child(3) {
        width: 160px; }
      .blockData__Data .row .cell:nth-last-child(2) {
        width: 50px; }
    .blockData__Data .row .cell.th:first-child {
      width: 141px; }
    .blockData__Data .row .cell.th:nth-last-child(3) {
      width: 136px; }
    .blockData__Data .row .cell.th:nth-last-child(2) {
      width: 160px; }
    .blockData__Data .row .cell.th:nth-last-child(1) {
      width: 50px; }
    .blockData__Data .row .cell.td:first-child {
      width: 141px; }
    .blockData__Data .row .cell.td:nth-last-child(3) {
      width: 160px; }
  .blockData__Data > .button {
    width: 200px;
    height: 40px;
    margin: 40px auto 40px 30px; }
    .blockData__Data > .button:hover {
      width: 270px; }

.slide {
  background: #fafafc;
  position: relative;
  float: left;
  padding: 40px 15px; }
  .slide .blockLeft, .slide .blockCenter, .slide .blockRight, .slide.shop .blockCenter, .slide.shop .blockRight {
    width: calc(100% / 3);
    display: inline-block;
    height: 100%;
    position: relative; }
    .slide .blockLeft span, .slide .blockCenter span, .slide .blockRight span, .slide.shop .blockCenter span, .slide.shop .blockRight span {
      display: block;
      height: calc(170px / 6);
      line-height: calc(170px / 6); }
    .slide .blockLeft .fa, .slide .blockCenter .fa, .slide .blockRight .fa {
      width: 20px;
      height: 20px;
      color: #333333;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 15px;
      font-size: 20px;
      transition: 0.35s linear; }
  .slide .blockCenter span {
    display: block;
    height: calc(170px / 6);
    line-height: calc(170px / 6); }
  .slide .blockRight .wrapperButton {
    width: 230px;
    height: 40px; }

.blockBottom {
  margin: 70px 0 150px; }
  .blockBottom .wrapperButton {
    width: 170px;
    height: 40px; }

.content {
  padding-bottom: 0; }

.footer {
  background: #ffffff;
  height: 0; }

.actives {
  background: #4055dc;
  color: #fff; }

.blockButton {
  position: relative; }
  .blockButton .hoverButton {
    width: 210px; }
    .blockButton .hoverButton::before {
      right: 78.5%;
      top: 22px;
      transition: all 0.15s linear; }
    .blockButton .hoverButton::after {
      right: 79%;
      transition: all 0.15s linear; }
    .blockButton .hoverButton a {
      color: #fff; }

/*roomWithdrawalFunds */
.wrapperButton.send a {
  line-height: 39px; }

/*report */
.blockData__blockSearch .blockData__input {
  position: relative; }
  .blockData__blockSearch .blockData__input::before {
    content: "";
    position: absolute;
    border-top: 3px solid transparent;
    border-left: 6px solid #fff;
    border-bottom: 3px solid transparent;
    top: 22px;
    right: 42px;
    transition: all 0.35s ease-in-out;
    opacity: 0; }
  .blockData__blockSearch .blockData__input::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background: #fff;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 48px;
    transform: translate(0px);
    transition: all 0.35s ease-in-out;
    opacity: 0; }
  .blockData__blockSearch .blockData__input input {
    width: 115px; }

/*shop */
.blockData__Data.blockData_setting {
  margin-bottom: 150px; }

.row.shop .cell {
  width: calc(100% / 4) !important; }
  .row.shop .cell:nth-last-child(1) {
    width: auto !important; }
  .row.shop .cell:nth-last-child(2) {
    width: 254px !important; }
  .row.shop .cell:nth-last-child(3) {
    width: 254px !important; }
  .row.shop .cell:nth-last-child(4) {
    width: 240px !important; }

.slide.shop {
  padding-left: 0;
  padding-right: 0; }
  .slide.shop .blockLeft, .slide.shop .blockCenter, .slide.shop .blockRight {
    width: calc(100% / 4) !important;
    display: block !important;
    height: 100% !important;
    position: relative !important;
    width: 240px !important;
    float: left;
    padding-left: 15px;
    line-height: normal !important; }
    .slide.shop .blockLeft span, .slide.shop .blockCenter span, .slide.shop .blockRight span {
      margin-bottom: 40px; }
    .slide.shop .blockLeft .wrapperButton, .slide.shop .blockCenter .wrapperButton, .slide.shop .blockRight .wrapperButton {
      width: 170px !important;
      height: 40px !important;
      margin-left: 0; }
      .slide.shop .blockLeft .wrapperButton:hover .fa, .slide.shop .blockCenter .wrapperButton:hover .fa, .slide.shop .blockRight .wrapperButton:hover .fa {
        color: white; }
      .slide.shop .blockLeft .wrapperButton .blockBottom input, .slide.shop .blockCenter .wrapperButton .blockBottom input, .slide.shop .blockRight .wrapperButton .blockBottom input {
        width: 150px; }
      .slide.shop .blockLeft .wrapperButton a, .slide.shop .blockCenter .wrapperButton a, .slide.shop .blockRight .wrapperButton a {
        line-height: 39px !important; }
  .slide.shop .blockCenter {
    width: 254px !important;
    padding-left: 15px; }
  .slide.shop .blockRight {
    width: auto !important; }
    .slide.shop .blockRight span {
      margin-bottom: 0; }
    .slide.shop .blockRight div {
      display: inline-block; }
    .slide.shop .blockRight .blockRight__left {
      margin-right: 15px; }

.row.shop.dataTable .slide {
  margin-bottom: 30px !important; }

.blockCenter div {
  width: 100%; }

#settings form::before {
  right: 84% !important;
  bottom: 74px !important; }
#settings form::after {
  right: 83.5% !important;
  bottom: 72px !important;
  visibility: visible; }
#settings form.security::before {
  right: 84% !important;
  bottom: 64px !important; }
#settings form.security::after {
  right: 83.5% !important;
  bottom: 62px !important;
  visibility: visible; }
#settings .modal-header {
  height: 170px;
  position: relative; }
  #settings .modal-header h4 {
    background: none;
    width: 470px;
    margin: auto;
    height: 70px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
#settings .modal-dialog {
  width: 1170px; }
#settings .modal-body {
  background: url("/img/header/logo background.png") no-repeat 770px center; }
#settings .blockTop {
  height: 50px; }
#settings .inNav {
  margin: 0; }
  #settings .inNav span {
    line-height: 54px; }
  #settings .inNav div {
    width: 169px;
    height: 50px; }
#settings .blockCenterSettings div:nth-child(1) {
  height: 50px;
  margin: 40px 0;
  width: 570px; }
#settings .blockCenterSettings div:nth-child(2) {
  height: 50px;
  margin: 40px 0;
  width: 570px; }
#settings .blockCenterSettings div:nth-child(3) {
  height: 50px;
  margin: 40px 0;
  width: 570px; }
#settings .blockCenterSettings div:nth-child(4) {
  height: 50px;
  margin: 40px 0;
  width: 570px; }
#settings .blockCenterSettings div:nth-child(5) {
  height: 50px;
  margin: 40px 0;
  width: 570px; }
#settings .blockCenterSettings div:last-child {
  height: 130px;
  width: 570px; }
#settings .blockCenterSettings input,
#settings .blockCenterSettings textarea {
  width: 100%;
  height: 100%; }
  #settings .blockCenterSettings input:focus,
  #settings .blockCenterSettings textarea:focus {
    outline: none; }
#settings .blockBottom {
  position: relative;
  height: 50px;
  margin: 50px 0 50px;
  width: 150px; }
  #settings .blockBottom input {
    left: 0 !important;
    width: 150px; }
#settings .modal-content {
  height: auto;
  min-height: 630px; }
#settings .technical::before {
  right: 63% !important;
  bottom: 74px !important; }
#settings .technical::after {
  right: 62.5% !important;
  bottom: 72px !important;
  visibility: visible; }
#settings .technical .blockCenterSettings div:last-child {
  height: 50px;
  width: 170px;
  margin-bottom: 50px; }
#settings .technical .blockBottom.technical__blockBottom {
  position: absolute;
  bottom: 0;
  left: 208px;
  width: 230px;
  margin-bottom: 50px; }
#settings .technical select {
  width: 100%;
  height: 100%; }
#settings .security .blockCenterSettings div {
  float: left; }
  #settings .security .blockCenterSettings div:last-child {
    margin-left: 30px; }
#settings .security div:last-child {
  height: 50px;
  width: 170px;
  position: relative;
  margin: 40px 0; }

#addShop form.addShop input {
  width: 210px; }
#addShop form.addShop::before {
  right: 72%;
  bottom: 73px; }
#addShop form.addShop::after {
  right: 71.5%;
  bottom: 71px; }
#addShop .modal-content {
  height: auto; }
#addShop .modal-header {
  height: 170px;
  position: relative; }
  #addShop .modal-header h4 {
    background: none;
    width: 470px;
    margin: auto;
    height: 70px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
#addShop .blockCenterShop {
  height: auto; }
  #addShop .blockCenterShop div {
    height: 50px;
    width: 100%;
    margin: 40px 0; }
    #addShop .blockCenterShop div:last-child {
      height: 140px;
      margin-bottom: 0; }
  #addShop .blockCenterShop input, #addShop .blockCenterShop textarea {
    height: 100%;
    width: 100%; }
    #addShop .blockCenterShop input:focus, #addShop .blockCenterShop textarea:focus {
      outline: none; }
#addShop .blockBottom {
  margin: 50px 0;
  height: 50px; }
  #addShop .blockBottom input {
    left: 0; }

#addShop form, #settings form {
  position: relative;
  overflow: hidden; }
  #addShop form::before, #settings form::before {
    right: 0;
    margin: 0; }
  #addShop form::after, #settings form::after {
    right: 0;
    margin: 0; }

/*API */
.row.api .cell {
  width: calc(100% / 4) !important; }
  .row.api .cell:nth-last-child(1) {
    width: 215px !important; }
  .row.api .cell:nth-last-child(2) {
    width: 400px !important; }
  .row.api .cell:nth-last-child(3) {
    width: 100px !important; }
  .row.api .cell:nth-last-child(4) {
    width: 370px !important; }

.slide.api .blockLeft, .slide.api .blockCenter, .slide.api .blockRight {
  width: 370px !important; }
.slide.api .blockRight {
  width: 215px !important; }
.slide.api .blockCenter.first {
  width: 100px !important; }
.slide.api .blockCenter.last {
  width: 400px !important; }

.blockButton.API .hoverButton {
  width: 175px;
  cursor: pointer; }
  .blockButton.API .hoverButton::before {
    right: 84%; }
  .blockButton.API .hoverButton::after {
    right: 84.5%;
    width: 25px; }

.collapseBlock > div:nth-last-child(2) {
  cursor: pointer;
  background: url("/img/content/arrow.svg") no-repeat center;
  -webkit-background-size: 30px 30px;
  background-size: 30px 30px; }
.collapseBlock .slide .blockRight {
  position: absolute;
  bottom: 40px;
  height: 40px; }

/*# sourceMappingURL=room.css.map */
